section.section.section__about-offer
    .about-offer

        .container
            h2.section__title.animation-element
                span.title Что предлагаем

        .container-endless
            .endless
                .about-offer__list.swiper-container#aboutOfferListSlider
                    .about-offer__list-wrap.swiper-wrapper

                        .about-offer__slide.swiper-slide
                            .about-offer__card.animation-element
                                .about-offer__title
                                    span.about-offer__icon
                                        include ../../../img/icon-equipment.svg
                                    span.about-offer__caption LED оборудование

                                ul.about-offer__items
                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt Светодиодные экраны

                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt Электронное табло

                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt Видеобаннер

                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt Светодиодный шар

                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt Бегущая строка

                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt Медиаборт

                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt Видеокуб

                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt Медиафасад

                        .about-offer__slide.swiper-slide
                            .about-offer__card.animation-element
                                .about-offer__title
                                    span.about-offer__icon
                                        include ../../../img/icon-solutions.svg
                                    span.about-offer__caption Готовые решения

                                ul.about-offer__items
                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt 28 моделей готовых кабинета

                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt Экраны для ТЦ и БЦ

                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt Экраны для спортивных мероприятий

                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt Экраны для конференций

                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt Рекламные уличные экраны

                        .about-offer__slide.swiper-slide
                            .about-offer__card.animation-element
                                .about-offer__title
                                    span.about-offer__icon
                                        include ../../../img/icon-services.svg
                                    span.about-offer__caption Услуги

                                ul.about-offer__items
                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt Аренда под ключ

                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt Монтаж LED экранов

                                    li.about-offer__item
                                        a(href="").about-offer__link
                                            span.about-offer__arr
                                                include ../../../img/icon-about-arr.svg
                                            span.about-offer__link-txt Проектирование
