section.section.section_clients
    .clients
        .container
            h2.section__title.animation-element Наши клиенты

        .container-endless
            .endless.clients__list.swiper-container#clientsList
                .clients__list__wrap.swiper-wrapper

                    .clients__slide.swiper-slide
                        .clients__card
                            a.clients__link.animation-element(href="")
                                span.picture(style="background-image: url(/img/temp/935102eb3ac7b348a25631cb25fae399.jpg);")

                    .clients__slide.swiper-slide
                        .clients__card
                            a.clients__link.animation-element(href="")
                                span.txt парк-отель Орловский

                    .clients__slide.swiper-slide
                        .clients__card
                            a.clients__link.animation-element(href="")
                                span.txt logotype

                    .clients__slide.swiper-slide
                        .clients__card
                            a.clients__link.animation-element(href="")
                                span.txt название компании

                    .clients__slide.swiper-slide
                        .clients__card
                            a.clients__link.animation-element(href="")
                                span.txt логотип

                    .clients__slide.swiper-slide
                        .clients__card
                            a.clients__link(href="")
                                include ../../../img/placeholder-client-logo.svg

                    .clients__slide.swiper-slide
                        .clients__card
                            a.clients__link(href="")
                                include ../../../img/placeholder-client-logo.svg

                    .clients__slide.swiper-slide
                        .clients__card
                            a.clients__link(href="")
                                include ../../../img/placeholder-client-logo.svg

            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_prev#btnClientsSliderPrev
                include ../../../img/icon-slider-btn-arr.svg
            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_next#btnClientsSliderNext
                include ../../../img/icon-slider-btn-arr.svg
