@import "../../../scss/variables";

.clients {

    .section__title {
        @include title-animation;
    }

    &__list {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: -40px;
        margin-bottom: -40px;
    }

    &__slide {
        width: 216px; // 200px + 16px

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) .clients__link {
                transition-delay: 0.3s * $i;
            }
        }

        @media (min-width: $md) {
            width: 336px; // 288px + 48px
        }

        @media (min-width: $lg) {
            width: 412px; // 344px + 68px
        }

        @media (min-width: $xl) {
            width: 440px; // 344px + 96px
        }
    }

    &__card {
        width: 200px;
        height: 108px;
        position: relative;

        @media (min-width: $md) {
            width: 288px;
            height: 176px;
        }

        @media (min-width: $lg) {
            width: 344px;
            height: 210px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color-back-primary;
        border-radius: 12px;
        box-shadow:
                -5px -5px 20px rgba(35, 33, 58, 0.35),
                5px 5px 20px rgba(4, 5, 14, 0.8);

        @media (min-width: $md) {
            box-shadow:
                    -14px -14px 40px rgba(35, 33, 58, 0.35),
                    16px 5px 40px rgba(4, 5, 14, 0.6);
        }

        @include card-animation;

        img, svg {
            max-width: 100%;
            height: auto;
        }

        svg {
            transition: $transition;

            path {
                transition: $transition;
            }
        }

        @media (min-width: $lg) {
            &:hover {
                path {
                    fill: $color-accent;
                }
            }
        }
    }

    #btnClientsSliderPrev {
        margin-top: 16px;
    }

    #btnClientsSliderNext {
        margin-top: -87px;
    }
}