.slider-tabs
    .slider-tabs__container.swiper-container#ourNewsSlider
        .slider-tabs__wrap.swiper-wrapper
            .marker

            .slider-tabs__slide.swiper-slide
                // При инициализации, добавить первому элемну класс .active
                .slider-tabs__button.active(data-target-tab-id="#deliveryFrameMonolithic")
                    | Рамно-монолитная
            .slider-tabs__slide.swiper-slide
                .slider-tabs__button(data-target-tab-id="#deliveryCabinet")
                    | Кабинет
            .slider-tabs__slide.swiper-slide
                .slider-tabs__button(data-target-tab-id="#deliveryTransportCase")
                    | Транспортный кофр
