section.section.section_warranty
    .warranty
        .container
            h2.section__title.animation-element Гарантийное обслуживание

        .container-endless
            .endless
                .warranty__list.swiper-container#warrantyList
                    .warranty__list-wrap.swiper-wrapper

                        .warranty__slide.swiper-slide
                            .warranty__card.animation-element
                                .warranty__card-title Срок эксплуатации светодиодных экранов ― от 10 до 15 лет
                                .warranty__card-desc Экраны рассчитаны на длительный срок эксплуатации. Но они нуждаются в обслуживании, как и любое другое оборудование. Вне зависимости от того, где они установлены

                        .warranty__slide.swiper-slide
                            .warranty__card.animation-element
                                .warranty__card-title Базовая гарантия 3 года с момента установки оборудования
                                .warranty__card-desc Не каждая компания предоставляет реальную гарантию и осуществляет поддержку после продажи оборудования. Но это не относится к продукции торговой марки «Экраника»

                        .warranty__slide.swiper-slide
                            .warranty__card.animation-element
                                .warranty__card-title Расширенная гарантия до 5 лет с момента установки
                                .warranty__card-desc В случае установки экранов премиум-класса мы предоставляем расширенную гарантию сроком до 5 лет со всем перечнем необходимых услуг


                .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_prev.animation-element#btnWarrantySliderPrev
                    include ../../../img/icon-slider-btn-arr.svg
                .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_next.animation-element#btnWarrantySliderNext
                    include ../../../img/icon-slider-btn-arr.svg

        .container-endless
            .endless
                .warranty__guarantee
                    .warranty__guarantee-title.animation-element Памятка предоставления гарантии

                    .warranty__guarantee-list.swiper-container#warrantyGuaranteeList
                        .warranty__guarantee-list-wrap.swiper-wrapper

                            .warranty__guarantee-slide.swiper-slide
                                .warranty__guarantee-card.animation-element
                                    span.point
                                    | Мы полностью контролируем процесс эксплуатации led-экранов,
                                    | исключаем ошибки в работе. Выход оборудования из
                                    | строя ― явление редкое. После проведения гарантийных работ
                                    | клиент получает подробные консультации специалистов:
                                    | как оптимизировать работу техники и исключить поломки

                            .warranty__guarantee-slide.swiper-slide
                                .warranty__guarantee-card.animation-element
                                    span.point
                                    | Самостоятельно искать комплектующие не придется. Гарантия
                                    | распространяется на все элементы ― от светодиодных модулей
                                    | до силовой проводки (кроме блоков питания). Оригинальные
                                    | комплектующие для замены ― всегда в наличии на складах компании

                            .warranty__guarantee-slide.swiper-slide
                                .warranty__guarantee-card.animation-element
                                    span.point
                                    | Чтобы гарантия действовала в течение всего срока, рекомендуется
                                    | регулярно проходить техническое обслуживание (в документации
                                    | к оборудованию указано количество плановых ТО)

                            .warranty__guarantee-slide.swiper-slide
                                .warranty__guarantee-card.animation-element
                                    span.point
                                    | Гарантия не распространяется на экраны со следами механического
                                    | повреждения, самостоятельного вскрытия или  ремонта. При возникновении
                                    | разногласий возможно проведение независимой экспертизы
