section.section.section__about-banner

    .container-endless.about-banner
        .endless
            .about-banner__pic.animation-element
                img(src="/img/about-banner.svg" alt="О нас, Гарантия, Контакты")

            .about-banner__content
                h1.section__title.about-banner__title.animation-element О компании Экраника
                .about-banner__description
                    .about-banner__subtitle.animation-element Кто мы
                    .about-banner__text.animation-element
                        | Мы ― молодая, активно развивающаяся компания, которая уже успела
                        | реализовать несколько интересных проектов. С первого дня мы
                        | выбрали приоритетами качество, открытость и точность выполнения
                        | задумок клиентов. Именно такой подход помогает нам добиваться
                        | отличных результатов.