//- Include used template for this page
extends ../../templates/default

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - const title       = 'О нас, Гарантия, Контакты | Ekranika'
    - const description = 'Write description for the page here'
    - const keywords    = 'Write keywords for the page here'
    - const pageClass   = 'page-about'

block content
    include about-banner
    include ../../comps/about-offer/about-offer
    include ../../comps/work-with/work-with
    include ../../comps/list/list-partners-choose-about
    include ../../comps/clients/clients
    include ../../comps/callback/callback-about
    include ../../comps/warranty/warranty
    include ../../comps/certificates/certificates
    include ../../comps/payment-ways/payment-ways
    include ../../comps/contacts/contacts
    include ../../comps/form-order/form-order-question