.installment-calc
    .installment-calc__wrap
        .installment-calc__controlls
            include ../custom-input/custom-input-cost
            include ../custom-range/custom-range-installment
            include ../custom-range/custom-range-payment

            //- include ../custom-selects/suffix-select-installment
            //- include ../custom-selects/suffix-select-first-payment

        .installment-calc__btn-calc
            input.btn.btn_primary.not-focused#calculateInstallment(type="submit" value="Рассчитать")

        .installment-calc__remainder
            | Рассрочка от 12 до 36 месяцев, первоначальный взнос от 30% до 95%.
            br
            | Не оферта, подробности у менеджера.

    .installment-calc__delimiter

    .installment-calc__result
        .installment-calc__total Итого
        .installment-calc__firstpayment#calcResultFirstPayment
        .installment-calc__monthlypayment#calcResultMonthlyPayment
        .installment-calc__paymentterm#calcResultPaymentTerm Срок выплаты
