@import "../../../scss/variables";

.certificates {

    .section__title {
        margin-bottom: 24px;

        @include title-animation;

        @media (min-width: $md) {
            margin-bottom: 48px;
        }

        @media (min-width: $lg) {
            margin-bottom: 96px;
        }

        @media (min-width: $xl) {
            margin-bottom: 133px;
        }
    }

    &__subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: $color-text-secondary;
        margin-bottom: 48px;

        @include title-link-animation;

        @media (min-width: $md) {
            width: 440px;
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 24px;
        }

        @media (min-width: $lg) {
            position: absolute;
            margin-bottom: 0;
            top: 100px;
            padding-bottom: 28px;
            width: 444px;

            &::after {
                content: "";
                display: block;
                width: 100vw;
                height: 12px;
                position: absolute;
                bottom: 0;
                right: 0;
                background: $color-back-primary;
                border-radius: 12px;
                box-shadow:
                        -20px -27px 40px rgba(35, 33, 58, 0.35),
                        20px 27px 40px rgba(4, 5, 14, 0.17),
                        inset -2px -2px 5px rgba(52, 40, 62, 0.3),
                        inset 2px 2px 5px rgba(0, 2, 12, 0.8);
            }
        }

        @media (min-width: $xl) {
            font-size: 30px;
            line-height: 140%;
            width: 622px;
        }
    }

    &__list {
        padding: 100px 0 100px 100px;
        margin: -100px 0 -100px -100px;

        @media (min-width: $lg) {
            padding-left: 30px;
            margin-left: 484px;
        }

        @media (min-width: $xl) {
            margin-left: 690px;
        }
    }

    &__slide {
        width: 224px; // 200 + 24

        @media (min-width: $md) {
            width: 232px; // 208 + 24
        }

        @media (min-width: $lg) {
            width: 278px; // 244 + 34
        }

        @media (min-width: $xl) {
            width: 336px; // 288 + 48
        }

        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                z-index: calc(21 - #{$i});
            }
        }

        @for $i from 1 through 20 {
            &:nth-child(#{$i}) .certificates__card {
                transition-delay: 0.3s * $i;
            }
        }
    }

    &__card {
        width: 200px;
        height: 282px;
        position: relative;
        box-shadow:
                -14px -14px 40px rgba(35, 33, 58, 0.35),
                16px 5px 40px rgba(4, 5, 14, 0.6);
        border-radius: 12px;
        overflow: hidden;

        @include card-animation;

        @media (min-width: $md) {
            width: 208px;
            height: 296px;
        }

        @media (min-width: $lg) {
            width: 244px;
            height: 344px;

            &:hover {
                .certificates__pic {
                    width: 110%;
                    height: 110%;
                    top: -5%;
                    left: -5%;
                }
            }
        }

        @media (min-width: $xl) {
            width: 288px;
            height: 407px;
        }
    }

    &__pic {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .2s linear;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #btnCertificatesSliderPrev {
        left: 273px;
        margin-top: -35px;
        opacity: 1;
        transition: opacity 1s;

        &.animation-element {
            opacity: 0;
        }

        @media (min-width: $xl) {
            left: 453px;
        }
    }

    #btnCertificatesSliderNext {
        left: 375px;
        margin-top: -35px;
        opacity: 1;
        transition: opacity 1s;

        &.animation-element {
            opacity: 0;
        }

        @media (min-width: $xl) {
            left: 555px;
        }
    }
}