//- Include used template for this page
extends ../../templates/default

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - const title       = 'Калькулятор | Ekranika'
    - const description = 'Write description for the page here'
    - const keywords    = 'Write keywords for the page here'
    - const pageClass   = 'page-calc'

block content
    include ../../comps/calc/calc