# Ignore code editor files
/.idea/

# Ignore node modules files
/layout/node_modules/

# Ignore preproduction bjild directory
/layout/dist/

# Ignored Bitrix core files
/bitrix/

# Ignore sever property file
/.htaccess

# Ignore calc results pdf files
/calc-results-files/pdf/

# Ignore calc results xls files
/calc-results-files/xls/

# Ignore calc results txt files
/calc-results-files/txt/

/comps/key.php