section.section.section_news-list
    .news-list

        .container
            h2.section__title.animation-element
                span.title Другие статьи

        .container-endless
            .endless.news-list__list.swiper-container#newsListSlider
                .news-list__wrap.swiper-wrapper

                    .news-list__slide.swiper-slide
                        a.news-list__card.animation-element(href="")
                            .news-list__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .news-list__date 10.09.2020
                            .news-list__caption Светодиодные экраны для рекламы: гайд по выбору
                            .news-list_time
                                .icon
                                    include ../../../img/icon-clock.svg
                                span.content 3 минуты на прочтение

                    .news-list__slide.swiper-slide
                        a.news-list__card.animation-element(href="")
                            .news-list__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .news-list__date 12.10.2020
                            .news-list__caption Уличные светодиодные экраны: особенности эксплуатации
                            .news-list_time
                                .icon
                                    include ../../../img/icon-clock.svg
                                span.content 5 минут на прочтение

                    .news-list__slide.swiper-slide
                        a.news-list__card.animation-element(href="")
                            .news-list__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .news-list__date 10.09.2020
                            .news-list__caption Светодиодные экраны для рекламы: гайд по выбору
                            .news-list_time
                                .icon
                                    include ../../../img/icon-clock.svg
                                span.content 17 минут на прочтение

                    .news-list__slide.swiper-slide
                        a.news-list__card.animation-element(href="")
                            .news-list__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .news-list__date 12.10.2020
                            .news-list__caption Уличные светодиодные экраны: особенности эксплуатации
                            .news-list_time
                                .icon
                                    include ../../../img/icon-clock.svg
                                span.content 11 минут на прочтение


                    .news-list__slide.swiper-slide
                        a.news-list__card.animation-element(href="")
                            .news-list__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .news-list__date 10.09.2020
                            .news-list__caption Светодиодные экраны для рекламы: гайд по выбору
                            .news-list_time
                                .icon
                                    include ../../../img/icon-clock.svg
                                span.content 3 минуты на прочтение

                    .news-list__slide.swiper-slide
                        a.news-list__card.animation-element(href="")
                            .news-list__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .news-list__date 12.10.2020
                            .news-list__caption Уличные светодиодные экраны: особенности эксплуатации
                            .news-list_time
                                .icon
                                    include ../../../img/icon-clock.svg
                                span.content 5 минут на прочтение

                    .news-list__slide.swiper-slide
                        a.news-list__card.animation-element(href="")
                            .news-list__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .news-list__date 10.09.2020
                            .news-list__caption Светодиодные экраны для рекламы: гайд по выбору
                            .news-list_time
                                .icon
                                    include ../../../img/icon-clock.svg
                                span.content 17 минут на прочтение

                    .news-list__slide.swiper-slide
                        a.news-list__card.animation-element(href="")
                            .news-list__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .news-list__date 12.10.2020
                            .news-list__caption Уличные светодиодные экраны: особенности эксплуатации
                            .news-list_time
                                .icon
                                    include ../../../img/icon-clock.svg
                                span.content 11 минут на прочтение

            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_prev#btnNewsListPrev
                include ../../../img/icon-slider-btn-arr.svg
            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_next#btnNewsListNext
                include ../../../img/icon-slider-btn-arr.svg