.label-controll.label-controll_date
    .label-controll__help.help-button(data-help-modal-id="helpModalRentStartDate")
        include ../../../img/icon-help.svg
        include ../../comps/help-modal/help-modal-rent-start-date

    .label-controll__caption Начало аренды
    .label-controll__body
        .label-controll__content

            .input-datepicker.not-selected.custom-input
                input.visuallyhidden#datepickerRentDateStart(
                    type="text"
                    data-calc-property="dateStart")
                span.day дд
                span.input-datepicker__delimiter
                span.month мм
                span.input-datepicker__delimiter
                span.year гггг
                span.input-datepicker__icon
                    include ../../../img/icon-calendar.svg
