@import "../../../scss/variables";

.order-form-modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -9999px;
    opacity: 0;
    position: fixed;
    z-index: 999;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(0);
    transition:
            left 0s linear .15s,
            opacity .1s linear 0s,
            backdrop-filter .1s linear 0s;

    @media (min-width: $xl) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__dialog {
        position: relative;
        width: 285px;
        margin: 1.75rem auto;
        opacity: 0;
        transform: translate(0, -25px);
        transition: all .1s linear;

        @media (min-width: $md) {
            width: 680px;
        }

        @media (min-width: $lg) {
            width: 1000px;
        }

        @media (min-width: $xl) {
            width: 1600px;
        }

        &.visible {
            opacity: 1;
            transform: translate(0, 0);
            transition:
                    transform .3s cubic-bezier(0, 0.55, 0.45, 1),
                    opacity .3s linear;
        }
    }

    .container {
        width: 85% !important;
    }

    .form-order__user-data {
        @media (min-width: $lg) and (max-width: $xl - 1){
            width: 70% !important;
        }
    }

    .form-order__privacy {
        @media (min-width: $lg) and (max-width: $xl - 1) {
            width: 60% !important;
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-clip: padding-box;
        outline: 0;
        padding: 24px 16px;
        border-radius: 12px;
        background: linear-gradient(318.46deg, #1C1D30 -26.8%, #0B0D19 91.86%);

        @media (min-width: $md) {
            padding: 48px 68px;
            background: linear-gradient(317.6deg, #1C1D30 -101.32%, #0B0D19 92.12%);
        }

        @media (min-width: $lg) {
            padding: 64px 68px;
        }
    }

    &__close-bnt {
        width: 34px;
        height: 34px;
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
        overflow: hidden;
        border-radius: 50%;
        background: $color-back-secondary;
        transition: transform .2s ease-out;
        box-shadow:
                inset 4px 4px 24px rgba(4, 2, 19, 0.5),
                inset -4px -4px 24px rgba(255, 255, 255, 0.06);

        @media (min-width: $md) {
            width: 48px;
            height: 48px;
            top: 24px;
            right: 24px;
        }

        @media (min-width: $lg) {
            width: 50px;
            height: 50px;

            &:hover {
                .icon {
                    transform: rotate(180deg);
                }

                svg path {
                    stroke: $color-accent ;
                }
            }
        }

        .icon {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: transform .2s ease-out;
        }

        svg {
            width: 73px;
            transition: transform .3s;
            position: absolute;
            top: calc(50% + 3px);
            left: 50%;
            transform: translate(-50%, -50%);

            @media (min-width: $md) {
                width: 102px;
                top: calc(50% + 4px);
            }

            path {
                transition: $transition;
            }
        }
    }

    &.visible {
        left: 0;
        opacity: 1;
        backdrop-filter: blur(4px);
        transition: left 0s linear 0s, opacity .1s linear 0s, backdrop-filter .1s linear 0s;
    }

    .order-form-modal__content {
        padding: 48px 0;
    }

    .modal {
        background-color: transparent !important;
        backdrop-filter: none !important;
    }
}