@import "../../../scss/variables";

.delivery {

    @media (min-width: $lg) {
        margin: 0 4.978038067349927vw;
        background: $color-back-primary;
        box-shadow:
                -14px -14px 40px rgba(35, 33, 58, 0.35),
                16px 5px 40px rgba(4, 5, 14, 0.6);
        border-radius: 12px;
        padding: 68px 136px;

        .container,
        .container-endless,
        .endless {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }

    @media (min-width: $xl) {
        padding: 96px 192px;
    }

    .section__title {
        margin-bottom: 24px;

        @include title-animation;

        @media (min-width: $md) {
            margin-bottom: 18px;
        }

        @media (min-width: $lg) {
            margin-bottom: 48px;
        }

        @media (min-width: $xl) {
            margin-bottom: 34px;
        }

        .title {
            margin-right: 0;
        }
    }

    &__content {
        @media (min-width: $xl) {
            display: flex;
        }
    }

    &__description {
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        color: $color-text-inactive;
        margin-bottom: 48px;
        padding-right: 7.5vw;

        @include card-animation;

        @media (min-width: $md) {
            font-size: 16px;
            margin-bottom: 96px;
            padding-right: 6.25vw;
        }

        @media (min-width: $lg) {
            font-weight: bold;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: $color-text-secondary;
            padding-right: 0;
            margin-bottom: 68px;
        }

        @media (min-width: $xl) {
            margin-right: 0;
            margin-bottom: 0;
            padding-right: 96px;
        }
    }

    &__methods {
        transition-delay: .3s !important;

        @include card-animation;

        @media (min-width: $lg) {
            .slider-tabs__container {
                overflow: initial;
            }
        }

        @media (min-width: $xl) {
            width: 720px;
            flex: 1 0 auto;
            margin-top: -85px;
        }

        &-title {
            font-weight: bold;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: $color-text-primary;
            margin-bottom: 24px;
            padding-right: 7.5vw;

            @media (min-width: $md) {
                font-size: 40px;
                line-height: 140%;
                margin-bottom: 68px;
                padding-right: 6.25vw;
            }

            @media (min-width: $lg) {
                font-size: 24px;
                line-height: 130%;
                color: $color-text-secondary;
                padding-right: 0;
                margin-bottom: 48px;
            }

            @media (min-width: $xl) {
                margin-bottom: 45px;
            }
        }

        &-tabs {
            display: none;

            @media (min-width: $lg) {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 34px;

                .slider-tabs__wrap {
                    margin-bottom: 0;
                }
            }
        }

        .tabs__controlls-caption {
            font-weight: normal;
            font-size: 18px;
            line-height: 160%;
            color: $color-text-secondary;
            margin-right: 34px;
        }

        &-list {
            padding-left: 7.5vw;
            margin-left: -7.5vw;

            @media (min-width: $md) {
                padding-left: 6.25vw;
                margin-left: -6.25vw;
            }

            @media (min-width: $lg) {
                padding-left: 0;
                margin-left: 0;
                padding-bottom: 50px;
                margin-bottom: -50px;
            }
        }

        &-slide {
            width: 224px; // 200px + 24px

            @media (min-width: $md) {
                width: 348px; // 300px + 48x
            }

            @media (min-width: $lg) {
                width: 720px;
                display: none;
                opacity: 0;
                transform: translateY(5px);
                transition: all .2s linear;

                &.visible {
                    display: block;
                }

                &.show {
                    opacity: 1;
                    transform: translateY(0);
                }

                &.hide {
                    opacity: 0;
                    transform: translateY(5px);
                }
            }

            @media (min-width: $xl) {
                width: 100%;
            }
        }

        &-card {
            width: 200px;

            @media (min-width: $md) {
                width: 300px;
            }

            @media (min-width: $lg) {
                width: 100%;
            }
        }

        &-caption {
            font-weight: 500;
            font-size: 20px;
            line-height: 130%;
            letter-spacing: 0.02em;
            color: $color-text-secondary;
            margin-bottom: 12px;

            @media (min-width: $md) {
                font-weight: bold;
                font-size: 24px;
            }

            @media (min-width: $lg) {
                display: none;
            }
        }

        &-description {
            font-weight: normal;
            font-size: 12px;
            line-height: 160%;
            color: $color-text-inactive;

            @media (min-width: $md) {
                font-size: 14px;
            }

            @media (min-width: $lg) {
                font-size: 18px;
                color: $color-text-secondary;
            }

            @media (min-width: $xl) {
                line-height: 163%;
            }
        }
    }
}
