section.section.section_feedback

    .feedback__background

    .feedback
        .container
            h2.section__title.animation-element О нас говорят

        .container-endless
            .endless.feedback__list.swiper-container#feedbackList
                .feedback__list__wrap.swiper-wrapper

                    .feedback__slide.swiper-slide
                        .feedback__card.animation-element
                            .feedback__pic(style="background-image: url('/img/placeholder-img.jpg')")
                                .btn.btn_play

                            .feedback__quotes
                            .feedback__line
                            .feedback__msg Собрали и доставили экран за три дня, не верил что такое возможно! Экран потрясающий!

                            .feedback__name
                                span всеволодов
                                span всеволод
                                span всеволодович
                            .feedback__job Руководитель отдела обеспечения АО “Развлекательный центр всероссийского цетра развлечений”
                            .feedback__socials
                                a(href="").social-icon
                                    .social-icon__pic
                                        include ../../../img/icon-facebook.svg

                                a(href="").social-icon
                                    .social-icon__pic
                                        include ../../../img/icon-instagram.svg

                    .feedback__slide.swiper-slide
                        .feedback__card.animation-element
                            .feedback__pic(style="background-image: url('/img/placeholder-img.jpg')")
                                .btn.btn_play

                            .feedback__quotes
                            .feedback__line
                            .feedback__msg Собрали и доставили экран за три дня, не верил что такое возможно! Экран потрясающий!

                            .feedback__name
                                span иванов
                                span иван
                                span иванович
                            .feedback__job Руководитель отдела обеспечения АО “Развлекательный центр всероссийского цетра развлечений”
                            .feedback__socials
                                a(href="").social-icon
                                    .social-icon__pic
                                        include ../../../img/icon-facebook.svg

                                a(href="").social-icon
                                    .social-icon__pic
                                        include ../../../img/icon-instagram.svg

                    .feedback__slide.swiper-slide
                        .feedback__card.animation-element
                            .feedback__pic(style="background-image: url('/img/placeholder-img.jpg')")
                                .btn.btn_play

                            .feedback__quotes
                            .feedback__line
                            .feedback__msg Собрали и доставили экран за три дня, не верил что такое возможно! Экран потрясающий!

                            .feedback__name
                                span всеволодов
                                span всеволод
                                span всеволодович
                            .feedback__job Руководитель отдела обеспечения АО “Развлекательный центр всероссийского цетра развлечений”
                            .feedback__socials
                                a(href="").social-icon
                                    .social-icon__pic
                                        include ../../../img/icon-facebook.svg

                                a(href="").social-icon
                                    .social-icon__pic
                                        include ../../../img/icon-instagram.svg

                    .feedback__slide.swiper-slide
                        .feedback__card
                            .feedback__pic(style="background-image: url('/img/placeholder-img.jpg')")
                                .btn.btn_play

                            .feedback__quotes
                            .feedback__line
                            .feedback__msg Собрали и доставили экран за три дня, не верил что такое возможно! Экран потрясающий!

                            .feedback__name
                                span иванов
                                span иван
                                span иванович
                            .feedback__job Руководитель отдела обеспечения АО “Развлекательный центр всероссийского цетра развлечений”
                            .feedback__socials
                                a(href="").social-icon
                                    .social-icon__pic
                                        include ../../../img/icon-facebook.svg

                                a(href="").social-icon
                                    .social-icon__pic
                                        include ../../../img/icon-instagram.svg

                    .feedback__slide.swiper-slide
                        .feedback__card
                            .feedback__pic(style="background-image: url('/img/placeholder-img.jpg')")
                                .btn.btn_play

                            .feedback__quotes
                            .feedback__line
                            .feedback__msg Собрали и доставили экран за три дня, не верил что такое возможно! Экран потрясающий!

                            .feedback__name
                                span всеволодов
                                span всеволод
                                span всеволодович
                            .feedback__job Руководитель отдела обеспечения АО “Развлекательный центр всероссийского цетра развлечений”
                            .feedback__socials
                                a(href="").social-icon
                                    .social-icon__pic
                                        include ../../../img/icon-facebook.svg

                                a(href="").social-icon
                                    .social-icon__pic
                                        include ../../../img/icon-instagram.svg


                    .feedback__slide.swiper-slide
                        .feedback__card
                            .feedback__pic(style="background-image: url('/img/placeholder-img.jpg')")
                                .btn.btn_play

                            .feedback__quotes
                            .feedback__line
                            .feedback__msg Собрали и доставили экран за три дня, не верил что такое возможно! Экран потрясающий!

                            .feedback__name
                                span иванов
                                span иван
                                span иванович
                            .feedback__job Руководитель отдела обеспечения АО “Развлекательный центр всероссийского цетра развлечений”
                            .feedback__socials
                                a(href="").social-icon
                                    .social-icon__pic
                                        include ../../../img/icon-facebook.svg

                                a(href="").social-icon
                                    .social-icon__pic
                                        include ../../../img/icon-instagram.svg

            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_prev#btnFeedbackPrev
                include ../../../img/icon-slider-btn-arr.svg
            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_next#btnFeedbackNext
                include ../../../img/icon-slider-btn-arr.svg
