section.section.section_feedback
    .feedback
        .container
            h2.section__title.animation-element Отзыв заказчика

        .container
            .feedback__card.animation-element
                .feedback__pic(style="background-image: url('/img/placeholder-img.jpg')")
                    .btn.btn_play

                .feedback__quotes
                .feedback__line
                .feedback__msg Собрали и доставили экран за три дня, не верил что такое возможно! Экран потрясающий!

                .feedback__name
                    span всеволодов
                    span всеволод
                    span всеволодович
                .feedback__job Руководитель отдела обеспечения АО “Развлекательный центр всероссийского цетра развлечений”
                .feedback__socials
                    a(href="").social-icon
                        .social-icon__pic
                            include ../../../img/icon-facebook.svg

                    a(href="").social-icon
                        .social-icon__pic
                            include ../../../img/icon-instagram.svg