@import "../../../scss/variables";

.feedback {

    .section__title {
        @include title-animation;
    }

    &__background {
        position: absolute;
        overflow: hidden;
        width: 100%;
        display: none;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;

        @media (min-width: $md) {
            display: block;
            bottom: -583px;
            height: 685px;
            background-image: url("/img/divider-content-768.png");
        }

        @media (min-width: $lg) {
            bottom: -610px;
            height: 571px;
            transform: scale(-1, 1);
            background-image: url("/img/divider-content-1366.png");
        }

        @media (min-width: $xl) {
            bottom: -720px;
            background-image: url("/img/divider-content-1920.png");
        }

        @media (min-width: $xxl) {
            bottom: -920px;
            height: 800px;
        }
    }

    &__list {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: -40px;
        margin-bottom: -40px;
    }

    &__slide {
        width: 216px; // 200px + 16px

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) .feedback__card {
                transition-delay: 0.3s * $i;
            }
        }

        @media (min-width: $md) {
            width: 624px; // 556px + 68px
        }

        @media (min-width: $lg) {
            width: 957px; // 861px + 96px
        }

        @media (min-width: $xl) {
            width: 1298px; // 1164px + 134px
        }
    }

    &__card {
        width: 200px;
        min-height: 434px;
        background: $color-back-primary;
        box-shadow:
                -5px -5px 20px rgba(35, 33, 58, 0.35),
                5px 5px 20px rgba(4, 5, 14, 0.8);
        border-radius: 12px;
        padding: 0 16px 16px 16px;
        margin-top: 16px;
        position: relative;

        @include card-animation;

        @media (min-width: $md) {
            width: 556px;
            min-height: 408px;
            padding: 0 0 0 348px;
            margin-top: 0;
            box-shadow: none;
            display: flex;
            flex-direction: column;
        }

        @media (min-width: $lg) {
            width: 861px;
            padding-left: 378px;
        }

        @media (min-width: $xl) {
            width: 1164px;
            padding-left: 480px;
        }
    }

    &__pic {
        width: 168px;
        height: 168px;
        border-radius: 12px;
        transform: translateY(-16px);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: $md) {
            position: absolute;
            width: 321px;
            height: 408px;
            left: 0;
            top: 0;
            transform: none;
            box-shadow:
                    -14px -14px 40px rgba(35, 33, 58, 0.35),
                    16px 5px 40px rgba(4, 5, 14, 0.6);
        }

        @media (min-width: $lg) {
            width: 330px;
        }

        @media (min-width: $xl) {
            width: 420px;
            height: 520px;
        }

        .btn {
            z-index: 7;
        }

        @media (min-width: $md) {
            &:hover {
                .btn {
                    @extend .btn_play:hover;
                }
            }
        }
    }

    &__quotes {
        display: none;

        &::before, &::after {
            content: "";
            width: 40px;
            height: 68px;
            display: inline-block;
            position: relative;
            margin-right: 7px;
            background: url("/img/icon-quote.svg") no-repeat left center;
            background-size: auto 52px;
        }

        @media (min-width: $md) {
            display: block;
            order: 1;
            padding-top: 2px;
            padding-left: 6px;
        }

        @media (min-width: $lg) {
            padding-top: 16px;
            padding-left: 0;
        }

        @media (min-width: $xl) {
            padding-top: 36px;
            padding-left: 15px;

            &::before, &::after {
                background-size: auto 68px;
                margin-right: 24px;
            }
        }
    }

    &__line {
        display: none;
        height: 12px;
        background: $color-back-primary;
        box-shadow:
                -20px -27px 40px rgba(35, 33, 58, 0.35),
                20px 27px 40px rgba(4, 5, 14, 0.17),
                inset -2px -2px 5px rgba(52, 40, 62, 0.3),
                inset 2px 2px 5px rgba(0, 2, 12, 0.8);
        border-radius: 12px;
        margin: 35px 0 0 -200px;

        @media (min-width: $md) {
            display: block;
            order: 2;
        }

        @media (min-width: $lg) {
            margin-top: 22px;
        }

        @media (min-width: $xl) {
            margin-top: 58px;
        }
    }

    &__msg {
        display: none;
        font-weight: 700;
        letter-spacing: 0.02em;
        color: $color-text-secondary;
        transition: $transition;
        font-size: 24px;
        line-height: 130%;
        order: 3;
        margin-top: 68px;

        @media (min-width: $lg) {
            display: block;

            &.hover {
              color: $color-accent !important;
            }
        }

        @media (min-width: $xl) {
            font-size: 30px;
            line-height: 140%;
            margin-top: 65px;
        }
    }

    &__name {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        color: $color-text-secondary;
        margin-top: 8px;
        transition: $transition;

        @media (min-width: $md) {
            order: 4;
            font-size: 14px;
            margin-top: 48px;
            display: block;

            span {
                display: inline-block;
                margin-right: 5px;
            }
        }

        @media (min-width: $lg) {
            margin-top: 34px;
        }

        @media (min-width: $xl) {
            flex-direction: row;
            font-weight: 400;
            font-size: 14px;
            line-height: 160%;
            margin-top: 48px;
        }
    }

    &__job {
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        color: $color-text-inactive;
        margin-top: 8px;

        @media (min-width: $md) {
            order: 5;
            font-size: 14px;
            margin-top: 16px;
        }

        @media (min-width: $xl) {
            padding-bottom: 22px;
        }
    }

    &__socials {
        margin-top: 34px;
        height: 48px;

        .social-icon {
            margin-right: 16px;

            &:last-child {
                margin-right: 0;
            }
        }

        @media (min-width: $md) {
            order: 3;
            margin-top: 18px;
            height: 50px;
        }

        @media (min-width: $lg) {
            position: absolute;
            top: 10px;
            right: 0;
        }

        @media (min-width: $xl) {
            margin-top: 26px;
        }
    }

    #btnFeedbackPrev {
        margin-top: 15px;
    }

    #btnFeedbackNext {
        margin-top: -87px;
    }
}