.gallery-modal#galleryPicModal
    .gallery-modal__picture-container
        img.gallery-modal__picture#galleryPic(src="" alt="")
        .gallery-modal__close-bnt#galleryBtnClose
            include ../../../img/icon-cross.svg
