@import "../../../scss/variables";

.gallery-modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: -9999px;
    opacity: 0;
    position: fixed;
    z-index: 999;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(0);
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
            left 0s linear .15s,
            opacity .15s linear 0s,
            backdrop-filter .15s linear 0s;

    &__picture-container {
        position: relative;
        width: auto;
        height: auto;
        max-width: 85%;
        transform: translate(0, -25px);
        transition: transform .15s linear;

        @media (min-width: $md) {
            max-width: 87.5%;
        }

        @media (min-width: $lg) {
            max-width: 70.13177159590044%;
        }

        @media (min-width: $xl) {
            max-width: 70%;
        }
    }

    &__picture {
        width: auto;
        max-height: 85vh;

        @media (min-width: $md) {
            max-height: 87.5vh;
        }

        @media (min-width: $lg) {
            max-height: 70.13177159590044vh;
        }

        @media (min-width: $xl) {
            max-height: 70vh;
        }
    }

    &__close-bnt {
        width: 34px;
        height: 34px;
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
        overflow: hidden;
        border-radius: 50%;
        background: $color-back-secondary;
        transition: transform .2s ease-out;
        box-shadow:
                inset 4px 4px 24px rgba(4, 2, 19, 0.5),
                inset -4px -4px 24px rgba(255, 255, 255, 0.06);

        @media (min-width: $md) {
            width: 48px;
            height: 48px;
            top: 24px;
            right: 24px;
        }

        @media (min-width: $lg) {
            width: 50px;
            height: 50px;

            &:hover {
                transform: rotate(180deg);

                svg path {
                    stroke: $color-accent ;
                }
            }
        }

        svg {
            width: 73px;
            transition: transform .3s;
            position: absolute;
            top: calc(50% + 3px);
            left: 50%;
            transform: translate(-50%, -50%);

            @media (min-width: $md) {
                width: 102px;
                top: calc(50% + 4px);
            }

            path {
                transition: $transition;
            }
        }
    }

    &.visible {
        left: 0;
        opacity: 1;
        backdrop-filter: blur(4px);
        transition: left 0s linear 0s, opacity .15s linear 0s, backdrop-filter .15s linear 0s;

        .gallery-modal__picture-container {
            transform: translate(0, 0);
            transition: transform .5s cubic-bezier(0, 0.55, 0.45, 1);
        }
    }
}