@import "../../../scss/variables";

.article-list {

    @media (min-width: $xl) {
        width: 90%;
        height: auto;
        margin-left: 5%;
        background: $color-back-primary;
        border-radius: 12px;
        padding: 96px 0 61px 192px;
        box-shadow:
                -14px -14px 30px rgba(35, 33, 58, 0.35),
                16px 5px 40px rgba(4, 5, 14, 0.6);

        .container,
        .container-endless-fix,
        .container-endless {
            width: 100%;
            margin: 0;
        }
    }

    .tab-list__list {
        @media (min-width: $xl) {
            padding-bottom: 0;
        }
    }

    .tab-list__list__wrap {
        @media (min-width: $xl) {
            display: block;
        }
    }

    .clearfix {
        display: none;

        @media (min-width: $xl) {
            display: block;
            margin-bottom: 48px;
        }
    }

    &__slide {

        width: 224px; // 200px + 24px

        @media (min-width: $md) {
            width: 512px; // 440px + 72px
        }

        @media (min-width: $lg) {
            width: 513px; // 422px + 91px
        }

        @media (min-width: $xl) {
            width: 32.5vw;
            float: left;

            &:first-child,
            &:nth-of-type(4n + 5) {
                margin-right: 96px;
                margin-bottom: 34px;

                .article-list__card {
                    background: $color-back-primary;
                    border-radius: 12px;
                    padding: 48px 48px 0 48px;
                    margin-bottom: 48px;
                    box-shadow:
                            -14px -14px 30px rgba(35, 33, 58, 0.35),
                            16px 5px 40px rgba(4, 5, 14, 0.6);
                }

                .article-list__caption {
                    //- min-height: initial;
                    min-height: 126px;
                    font-size: 30px;
                    line-height: 140%;
                }

                .article-list_time {
                    margin-bottom: 34px;
                }

                .article-list__pic {
                    position: relative;
                    width: 100%;
                    height: 0;
                    padding-bottom: 60.03787878787879%;
                    //- height: 317px;
                    margin-top: -48px;
                    transform: translateY(48px);
                }
            }
        }

        @media (min-width: $xxl) {
            &:first-child,
            &:nth-of-type(4n + 5) {
                .article-list__caption {
                    min-height: initial;
                }
            }
        }

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) .article-list__card {
                transition-delay: 0.2s * $i;
            }
        }

        @for $i from 51 through 1 {
            &:nth-child(#{$i}) {
                z-index: 50 - $i;
            }
        }
    }

    &__card {
        display: block;
        width: 200px;
        opacity: 1;
        transform: translateY(0);
        transition: $anim-card;

        @media (min-width: $md) {
            width: 440px;
            height: 462px;
            background: $color-back-primary;
            box-shadow:
                    -14px -14px 30px rgba(35, 33, 58, 0.35),
                    16px 5px 40px rgba(4, 5, 14, 0.6);
            border-radius: 12px;
            padding: 24px 44px 0 24px;
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
        }

        @media (min-width: $lg) {
            width: 422px;
            height: 443px;
            padding: 24px 26px 0 24px;

            &:hover {
                .image {
                    width: 110%;
                    height: 110%;
                }

                .article-list__caption {
                    color: $color-accent;
                }
            }
        }

        @media (min-width: $xl) {
            width: 100%;
            height: auto;
            padding: 0 0 0 202px;
            //- margin: 0 0 34px;
            margin: 0 0 55px;
            background-color: transparent;
            box-shadow: none;
        }
    }

    .animation-element &__card {
        transform: translateY(100px);
        opacity: 0;
    }

    &__pic {
        width: 200px;
        height: 176px;
        border-radius: 12px;
        margin-bottom: 24px;
        overflow: hidden;
        position: relative;
        box-shadow:
                -14px -14px 40px rgba(35, 33, 58, 0.35),
                16px 5px 40px rgba(4, 5, 14, 0.6);

        @media (min-width: $md) {
            order: 1;
            flex-shrink: 0;
            width: 440px;
            height: 280px;
            box-shadow:
                    -14px -14px 30px rgba(35, 33, 58, 0.35),
                    16px 5px 40px rgba(4, 5, 14, 0.6);
            margin-bottom: 0;
        }

        @media (min-width: $lg) {
            width: 422px;
            height: 269px;
        }

        @media (min-width: $xl) {
            width: 178px;
            height: 161px;
            position: absolute;
            left: 0;
            top: 0;
        }

        .image {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: all .4s ease-out;
        }
    }

    &__date {
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        color: $color-text-secondary;
        margin-bottom: 4px;

        @media (min-width: $md) {
            margin-bottom: 0;
        }

        @media (min-width: $xl) {
            font-size: 14px;
        }
    }

    &__caption {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: $color-text-secondary;
        margin-bottom: 12px;
        transition: color .5s;

        @media (min-width: $md) {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 24px;
            min-height: 93px;
        }

        @media (min-width: $xl) {
            margin-bottom: 8px;
        }
    }

    &_time {
        display: flex;
        align-items: center;

        @media (min-width: $md) {
            margin-bottom: 24px;
        }

        @media (min-width: $lg) {
            margin-bottom: 16px;
        }

        @media (min-width: $xl) {
            margin-bottom: 0;
            height: 38px;
        }

        .icon {
            width: 16px;
            height: 16px;
            margin-right: 8px;
            position: relative;

            @media (min-width: $xl) {
                width: 20px;
                height: 20px;
                -webkit-transform: scale(1.34);
                transform: scale(1.34);
            }

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: auto;
                width: 20px;

                @media (min-width: $lg) {
                    width: 18px;
                }

                @media (min-width: $xl) {
                    width: 16px;
                }

                path {
                    stroke: $color-text-inactive;

                    @media (min-width: $xl) {
                        stroke: $color-text-primary;
                    }
                }
            }
        }

        .content {
            font-weight: normal;
            font-size: 14px;
            line-height: 160%;
            color: $color-text-inactive;

            @media (min-width: $xl) {
                color: $color-text-secondary;
            }
        }
    }

    #btnTabListTickerPrev,
    #btnTabListMediaFacadePrev,
    #btnTabListOuterLedScreenPrev,
    #btnTabListInnerLedScreenPrev,
    #btnTabListRentPrev,
    #btnTabListNewsCompanyPrev,
    #btnTabListNewsPartnersPrev {
        margin-top: -12px;

        @media (min-width: $xl) {
            display: none !important;
        }
    }

    #btnTabListTickerNext,
    #btnTabListMediaFacadeNext,
    #btnTabListOuterLedScreenNext,
    #btnTabListInnerLedScreenNext,
    #btnTabListRentNext,
    #btnTabListNewsCompanyNext,
    #btnTabListNewsPartnersNext {
        margin-top: -116px;

        @media (min-width: $xl) {
            display: none !important;
        }
    }
}


//- #aricleList {
//-
//-     .article-list__slide {
//-         &:first-child,
//-         &:nth-of-type(4n + 5) {
//-             .article-list__caption {
//-                 min-height: 126px;
//-             }
//-         }
//-     }
//-
//-     .article-list__card {
//-         margin-bottom: 55px;
//-     }
//- }