section.section.section_tab-list
    .tab-list.article-list
        .container

            h2.section__title.animation-element
                span.title Полезные статьи

        .tabs.animation-element
            .container-endless-fix
                .endless.tabs__controlls
                    include ../custom-slider-tabs/custom-slider-tabs-article-list

        .tabs-items#aricleList

            // При сборке страницы, первому слайду добавить классы .visible.show и класс .animation-element
            .container-endless.tabs-item.visible.show.animation-element#ticker
                .endless.tab-list__list.swiper-container#tabListTickerSlider
                    .tab-list__list__wrap.swiper-wrapper

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 10.09.2020
                                .article-list__caption Светодиодные экраны для рекламы: гайд по выбору
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 3 минуты на прочтение

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 12.10.2020
                                .article-list__caption Уличные светодиодные экраны: особенности эксплуатации
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 5 минут на прочтение

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 10.09.2020
                                .article-list__caption Светодиодные экраны для рекламы: гайд по выбору
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 17 минут на прочтение

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 12.10.2020
                                .article-list__caption Уличные светодиодные экраны: особенности эксплуатации
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 11 минут на прочтение

                .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_prev#btnTabListTickerPrev
                    include ../../../img/icon-slider-btn-arr.svg
                .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_next#btnTabListTickerNext
                    include ../../../img/icon-slider-btn-arr.svg

            .container-endless.tabs-item#mediaFacade
                .endless.tab-list__list.swiper-container#tabListMediaFacadeSlider
                    .tab-list__list__wrap.swiper-wrapper

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 10.09.2020
                                .article-list__caption Светодиодные экраны для рекламы: гайд по выбору
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 3 минуты на прочтение

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 12.10.2020
                                .article-list__caption Уличные светодиодные экраны: особенности эксплуатации
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 5 минут на прочтение

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 10.09.2020
                                .article-list__caption Светодиодные экраны для рекламы: гайд по выбору
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 17 минут на прочтение

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 12.10.2020
                                .article-list__caption Уличные светодиодные экраны: особенности эксплуатации
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 11 минут на прочтение


                .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_prev#btnTabListMediaFacadePrev
                    include ../../../img/icon-slider-btn-arr.svg
                .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_next#btnTabListMediaFacadeNext
                    include ../../../img/icon-slider-btn-arr.svg

            .container-endless.tabs-item#outerLedScreen
                .endless.tab-list__list.swiper-container#tabListOuterLedScreenSlider
                    .tab-list__list__wrap.swiper-wrapper

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 12.10.2020
                                .article-list__caption Уличные светодиодные экраны: особенности эксплуатации
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 5 минут на прочтение

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 10.09.2020
                                .article-list__caption Светодиодные экраны для рекламы: гайд по выбору
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 3 минуты на прочтение

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 10.09.2020
                                .article-list__caption Светодиодные экраны для рекламы: гайд по выбору
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 17 минут на прочтение

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 12.10.2020
                                .article-list__caption Уличные светодиодные экраны: особенности эксплуатации
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 11 минут на прочтение

                .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_prev#btnTabListOuterLedScreenPrev
                    include ../../../img/icon-slider-btn-arr.svg
                .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_next#btnTabListOuterLedScreenNext
                    include ../../../img/icon-slider-btn-arr.svg

            .container-endless.tabs-item#innerLedScreen
                .endless.tab-list__list.swiper-container#tabListInnerLedScreenSlider
                    .tab-list__list__wrap.swiper-wrapper

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 10.09.2020
                                .article-list__caption Светодиодные экраны для рекламы: гайд по выбору
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 3 минуты на прочтение

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 12.10.2020
                                .article-list__caption Уличные светодиодные экраны: особенности эксплуатации
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 5 минут на прочтение

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 10.09.2020
                                .article-list__caption Светодиодные экраны для рекламы: гайд по выбору
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 17 минут на прочтение

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 12.10.2020
                                .article-list__caption Уличные светодиодные экраны: особенности эксплуатации
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 11 минут на прочтение


                .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_prev#btnTabListInnerLedScreenPrev
                    include ../../../img/icon-slider-btn-arr.svg
                .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_next#btnTabListInnerLedScreenNext
                    include ../../../img/icon-slider-btn-arr.svg

            .container-endless.tabs-item#rent
                .endless.tab-list__list.swiper-container#tabListRentSlider
                    .tab-list__list__wrap.swiper-wrapper

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 12.10.2020
                                .article-list__caption Уличные светодиодные экраны: особенности эксплуатации
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 5 минут на прочтение

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 10.09.2020
                                .article-list__caption Светодиодные экраны для рекламы: гайд по выбору
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 3 минуты на прочтение

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 10.09.2020
                                .article-list__caption Светодиодные экраны для рекламы: гайд по выбору
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 17 минут на прочтение

                        .article-list__slide.swiper-slide
                            a.article-list__card(href="")
                                .article-list__pic
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                .article-list__date 12.10.2020
                                .article-list__caption Уличные светодиодные экраны: особенности эксплуатации
                                .article-list_time
                                    .icon
                                        include ../../../img/icon-clock.svg
                                    span.content 11 минут на прочтение

                .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_prev#btnTabListRentPrev
                    include ../../../img/icon-slider-btn-arr.svg
                .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_next#btnTabListRentNext
                    include ../../../img/icon-slider-btn-arr.svg

    button.tab-list__get-data(data-list-id="#aricleList")
        span.points.points_left
            span.point
            span.point
            span.point
        span.text Еще статьи
        span.points.points_right
            span.point
            span.point
            span.point