@import "../../../scss/variables";

.page-scoreboard {

    .banner-content .slide-nums {
        @media (min-width: $xl) {
            top: 313px;
        }
    }

    .banner-content #btnBannerProjectsPrev,
    .banner-content #btnBannerProjectsNext {
        @media (min-width: $xl) {
            top: 291px;
        }
    }

    .banner-content__text_two-column .paragraph {
        @media (min-width: $lg) {
            &:first-child {
                padding-right: 48px;
            }

            &:last-child {
                padding-left: 16px;
            }

            .paragraph__title {
                min-height: 50px;
                display: flex;
                align-items: center;
            }
        }

        @media (min-width: $xl) {
            &:first-child {
                padding-right: 24px;
            }

            &:last-child {
                padding-left: 48px;
                padding-right: 0;
            }

            .paragraph__title {
                min-height: initial;
            }
        }
    }
}