section.section.section_banner-content
    .container
        .banner-content
            .banner-content__wrap
                .banner-content__picture(style="background-image: url('/img/placeholder-img.jpg');" data-swiper-parallax-opacity="0")
                .banner-content__desc
                    h2.banner-content__title Экраны для спортивных мероприятий

                    .banner-content__slider.swiper-container#contentBannerSlider
                        .banner-content__slider-wrap.swiper-wrapper

                            .banner-content__slide.swiper-slide
                                .banner-content__subtitle(data-swiper-parallax-opacity="0") Описание
                                .banner-content__text.banner-content__text_large(data-swiper-parallax-x="-700" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700")
                                    .paragraph Это широкоформатный светодиодный экран, который помогает транслировать рекламу и информировать зрителей, преимущественно на спортивных стадионах. Располагается по периметру площадки во время соревнований и матчей. Позволяет зрителю отчётливо видеть изображение с расстояния от 5 метров и более.

                            .banner-content__slide.swiper-slide
                                .banner-content__subtitle(data-swiper-parallax-opacity="0") Области применения
                                .banner-content__text_two-column(data-swiper-parallax-x="-700" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700")
                                    .paragraph
                                        .paragraph__title
                                            .icon
                                                include ../../../img/icon-tree.svg
                                            | Общественные места
                                        ul.paragraph__list
                                            li.paragraph__item
                                                span.point
                                                | Трансляции спортивных матчей на стадионах
                                            li.paragraph__item
                                                span.point
                                                | Показ справочной информации
                                            li.paragraph__item
                                                span.point
                                                | Социальные оповещения

                                    .paragraph
                                        .paragraph__title
                                            .icon
                                                include ../../../img/icon-commercial.svg
                                            | Коммерция
                                        ul.paragraph__list
                                            li.paragraph__item
                                                span.point
                                                | Декорации для небольших пространств
                                            li.paragraph__item
                                                span.point
                                                | Декорации для ресторанов, баров, пабов

                            .banner-content__slide.swiper-slide
                                .banner-content__subtitle(data-swiper-parallax-opacity="0") Документация
                                .banner-content__text.banner-content__text_large(data-swiper-parallax-x="-700" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700")
                                    .paragraph
                                        ul.paragraph__single-list
                                            li.paragraph__single-list-item
                                                a.paragraph__single-link(href="")
                                                    .icon
                                                        include ../../../img/icon-down.svg
                                                    | Файлы и прошивки контроллеров серии TB

                                            li.paragraph__single-list-item
                                                a.paragraph__single-link(href="")
                                                    .icon
                                                        include ../../../img/icon-down.svg
                                                    | Файлы и прошивки для видеопроцессоров серии VX

                                            li.paragraph__single-list-item
                                                a.paragraph__single-link(href="")
                                                    .icon
                                                        include ../../../img/icon-down.svg
                                                    | Файлы и прошивки для MCTRL

                    .banner-content__actions
                        a.btn.btn_primary Рассчитать стоимость
                        a.link.revers Отправить заявку на расчёт

            .slide-nums#bannerSliderNums
                .slide-nums__current
                    .slide-nums__scrolled
                        .slide-nums__number.active 01
                        .slide-nums__number 02
                        .slide-nums__number 03
                .slide-nums__all
                    .number 03


            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_prev#btnBannerProjectsPrev
                include ../../../img/icon-slider-btn-arr.svg
            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_next#btnBannerProjectsNext
                include ../../../img/icon-slider-btn-arr.svg
