section.section.section_banner-content
    .container
        .banner-content
            .banner-content__wrap
                .banner-content__picture(style="background-image: url('/img/placeholder-img.jpg');" data-swiper-parallax-opacity="0")
                .banner-content__desc
                    h2.banner-content__title Экраны для конференций

                    .banner-content__slider.swiper-container#contentBannerSlider
                        .banner-content__slider-wrap.swiper-wrapper

                            .banner-content__slide.swiper-slide
                                .banner-content__subtitle(data-swiper-parallax-opacity="0") Описание
                                .banner-content__text.banner-content__text_large(data-swiper-parallax-x="-700" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700")
                                    .paragraph Это устройство для передачи изображения и показа информации. Отличается высокой яркостью и насыщенностью. Состоит из LED модулей с разными характеристиками: шагом пикселя, яркостью, разрешением и др.
                                    .paragraph Светодиодные экраны бывают плоскими, прямоугольными или произвольной формы. Показывают статическое и динамическое изображение. Диапазон применения: бизнес-презентации, выставочные и информационные стенды, концерты, фотозоны. Служат как элемент декора при оформлении сцен, шоурумов и на видеоконференциях.

                            .banner-content__slide.swiper-slide
                                .banner-content__subtitle(data-swiper-parallax-opacity="0") Области применения
                                .banner-content__text_two-column(data-swiper-parallax-x="-700" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700")
                                    .paragraph
                                        .paragraph__title
                                            .icon
                                                include ../../../img/icon-tree.svg
                                            | Общественные места
                                        ul.paragraph__list
                                            li.paragraph__item
                                                span.point
                                                | Конференции, бизнес-саммиты, мероприятия
                                            li.paragraph__item
                                                span.point
                                                | Показ справочной информации
                                            li.paragraph__item
                                                span.point
                                                | Социальные оповещения
                                            li.paragraph__item
                                                span.point
                                                | Трансляция событий
                                            li.paragraph__item
                                                span.point
                                                | Социальная реклама

                                    .paragraph
                                        .paragraph__title
                                            .icon
                                                include ../../../img/icon-commercial.svg
                                            | Коммерция
                                        ul.paragraph__list
                                            li.paragraph__item
                                                span.point
                                                | Декорации для небольших пространств
                                            li.paragraph__item
                                                span.point
                                                | Оформление стендов
                                            li.paragraph__item
                                                span.point
                                                | Оформление витрин
                                            li.paragraph__item
                                                span.point
                                                | Декорации для ресторанов, баров, пабов

                    .banner-content__actions
                        a.btn.btn_primary Рассчитать стоимость
                        a.link.revers Отправить заявку на расчёт

            .slide-nums#bannerSliderNums
                .slide-nums__current
                    .slide-nums__scrolled
                        .slide-nums__number.active 01
                        .slide-nums__number 02
                .slide-nums__all
                    .number 02


            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_prev#btnBannerProjectsPrev
                include ../../../img/icon-slider-btn-arr.svg
            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_next#btnBannerProjectsNext
                include ../../../img/icon-slider-btn-arr.svg
