section.section.section_banner-content
    .container

        .banner-content
            .banner-content__wrap

                .banner-content__picture(style="background-image: url('/img/placeholder-img.jpg');" data-swiper-parallax-opacity="0")
                .banner-content__desc
                    h2.banner-content__title Проектирование медиафасада

                    .banner-content__slider.swiper-container#contentBannerSlider
                        .banner-content__slider-wrap.swiper-wrapper

                            .banner-content__slide.swiper-slide
                                .banner-content__subtitle(data-swiper-parallax-opacity="0") Рассчитаем проект и подготовим смету
                                .banner-content__text(data-swiper-parallax-x="-700" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700")
                                    .paragraph Проведём исследование объекта, изучим его особенности, сформируем план по монтажу медиафасада. Учитываем специфику здания по разным параметрам: освещённости улиц рядом, проходимость, тип конструкции здания и т.д.

                            .banner-content__slide.swiper-slide
                                .banner-content__subtitle(data-swiper-parallax-opacity="0")
                                    | Заголовок второго
                                    br
                                    | слайда
                                .banner-content__text(data-swiper-parallax-x="-700" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700")
                                    .paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequatur consequuntur deleniti eius eum facere fugit harum id itaque iure iusto, labore laboriosam obcaecati officiis quaerat ratione rem temporibus! Odit!

                    .banner-content__actions
                        a.btn.btn_primary Рассчитать стоимость
                        a.link.revers Отправить заявку на расчёт

            .slide-nums#bannerSliderNums
                .slide-nums__current
                    .slide-nums__scrolled
                        .slide-nums__number.active 01
                        .slide-nums__number 02
                .slide-nums__all
                    .number 02

            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_prev#btnBannerProjectsPrev
                include ../../../img/icon-slider-btn-arr.svg
            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_next#btnBannerProjectsNext
                include ../../../img/icon-slider-btn-arr.svg
