section.section.section_typical-solutions
    .typical-solutions(data-filter-state='{"executionType":"","pixelStep":"","width":""}')

        .container
            h2.section__title.animation-element
                span.title Типовые решения

        .container-endless-fix.filter
            .endless.typical-solutions__controlls.animation-element
                include ../custom-slider-radio/custom-slider-radio-types
                include ../custom-selects/simple-select-types
                include ../custom-selects/suffix-select-pixel-step
                include ../custom-selects/suffix-select-width

        .container#notFilterTsResults
            .typical-solutions__not-results
                .typical-solutions__not-results-text Нет элементов удовлетворящих выбранным значениям
                .typical-solutions__not-results-btn
                    .btn.btn_primary#resetTsFilter Сбросить фильтр

        .container-endless#tsSlider
            .endless.typical-solutions__list.swiper-container#typicalSolutionsSlider
                .typical-solutions__list__wrap.swiper-wrapper

                    .typical-solutions__slide.swiper-slide(data-filter-props='{"executionType":"vertical","pixelStep":"1,53","width":"3420", "solutionType":"streetcreen"}')
                        .typical-solutions__card.animation-element
                            .typical-solutions__gallery.gallery
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/placeholder-img.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 1,53 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide(data-filter-props='{"executionType":"vertical","pixelStep":"1,53","width":"3420", "solutionType":"streetcreen"}')
                        .typical-solutions__card.animation-element
                            .typical-solutions__gallery.gallery
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 1,53 кабинет 650х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"1,53","width":"4000", "solutionType":"streetcreen"}')
                        .typical-solutions__card.animation-element
                            .typical-solutions__gallery.gallery
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 1,53 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"1,53","width":"3420", "solutionType":"streetcreen"}')
                        .typical-solutions__card.animation-element
                            .typical-solutions__gallery.gallery
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 1,53 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide(data-filter-props='{"executionType":"vertical","pixelStep":"2,5","width":"4000", "solutionType":"streetcreen"}')
                        .typical-solutions__card.animation-element
                            .typical-solutions__gallery.gallery
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 2,5 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide(data-filter-props='{"executionType":"vertical","pixelStep":"3,5","width":"3000", "solutionType":"videobanner"}')
                        .typical-solutions__card.animation-element
                            .typical-solutions__gallery.gallery
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 2,5 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide(data-filter-props='{"executionType":"vertical","pixelStep":"2,5","width":"4000", "solutionType":"videocube"}')
                        .typical-solutions__card.animation-element
                            .typical-solutions__gallery.gallery
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 2,5 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"1,53","width":"3420", "solutionType":"media"}')
                        .typical-solutions__card.animation-element
                            .typical-solutions__gallery.gallery
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 1,53 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide(data-filter-props='{"executionType":"vertical","pixelStep":"2,5","width":"3420", "solutionType":"media"}')
                        .typical-solutions__card.animation-element
                            .typical-solutions__gallery.gallery
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 2,5 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"3,5","width":"5000", "solutionType":"videobanner"}')
                        .typical-solutions__card.animation-element
                            .typical-solutions__gallery.gallery
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 3,5 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"4,5","width":"6000", "solutionType":"scoreboard"}')
                        .typical-solutions__card.animation-element
                            .typical-solutions__gallery.gallery
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 4,5 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"5,5","width":"6000", "solutionType":"videocube"}')
                        .typical-solutions__card.animation-element
                            .typical-solutions__gallery.gallery
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 5,5 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать
                    .typical-solutions__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"6,5","width":"3420", "solutionType":"videocube"}')
                        .typical-solutions__card.animation-element
                            .typical-solutions__gallery.gallery
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 6,5 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"7,5","width":"7000", "solutionType":"ticker"}')
                        .typical-solutions__card.animation-element
                            .typical-solutions__gallery.gallery
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 7,5 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .typical-solutions__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"8,5","width":"7000", "solutionType":"ticker"}')
                        .typical-solutions__card.animation-element
                            .typical-solutions__gallery.gallery
                                .typical-solutions__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .typical-solutions__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .typical-solutions__caption Шаг 8,5 кабинет 640х480 для помещений
                            .typical-solutions__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .typical-solutions__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

            .btn.btn_icon-outlined.lite-background.slider-controller.slider-controller_prev#btnTsPrev
                include ../../../img/icon-slider-btn-arr.svg
            .btn.btn_icon-outlined.lite-background.slider-controller.slider-controller_next#btnTSNext
                include ../../../img/icon-slider-btn-arr.svg
