section.section.section_project-description
    .project-description
        .container
            h2.project-description__title.animation-element Описание проекта

        .container
            .project-description__content
                .project-description__text.animation-element
                    p Светодиодный видеокуб изготовлен и установлен по заказу культурно-спортивного комплекса клуба ЦСКА в Москве.
                    p Основными задачами светодиодного табло станут воспроизведение судейской информации, повторов игры и рекламных видео роликов.

                .project-description__price.animation-element
                    .project-description__amount от 77 770 ₽/кв. м
                    .project-description__comment Примерная стоимость оборудования по проекту
                    .project-description__action
                        a.btn.btn_primary(href="#") Отправить заявку на расчёт
