@import "../../../scss/variables";

input[type='radio'] {
    display: none;
}

.radio-group {
    display: flex;
    flex-direction: column;

    @media (min-width: $md) {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        width: auto;
        height: 62px;
        padding: 4px;
        background: $color-back-secondary;
        transition: box-shadow .3s;
        box-shadow:
                -10px -10px 30px rgba(35, 33, 58, 0.35),
                10px 10px 30px rgba(4, 5, 14, 0.55),
                inset -5px -6px 20px rgba(35, 33, 58, 0.3),
                inset 5px 6px 20px rgba(0, 2, 12, 0.5);
        border-radius: 999px;

        @media (min-width: $lg) {
            &:hover {
                box-shadow:
                        -8px -16px 30px rgba(35, 33, 58, 0.35),
                        8px 16px 30px rgba(4, 5, 14, 0.3),
                        inset -5px -6px 20px rgba(35, 33, 58, 0.3),
                        inset 5px 6px 20px rgba(0, 2, 12, 0.5);
            }
        }
    }

    label {
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: $color-text-secondary;
        padding-left: 32px;
        margin-bottom: 16px;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: calc(50% - 10px);
            left: 0;
            border-radius: 50%;
            background: $color-back-secondary;
            transform: rotate(-90deg);
            box-shadow:
                    -2px -4px 8px rgba(35, 33, 58, 0.6),
                    2px 4px 8px rgba(4, 5, 14, 0.6),
                    -1px -1px 8px rgba(35, 33, 58, 0.6),
                    1px 1px 8px rgba(0, 2, 12, 0.6),
                    inset -2px -4px 8px rgba(35, 33, 58, 0.6),
                    inset 2px 4px 8px rgba(4, 5, 14, 0.8);

            @media (min-width: $md) {
                display: none;
            }
        }

        &::after {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $color-accent;
            box-shadow: 0 0 30px rgba(255, 255, 255, 0.56);
            transform: rotate(-90deg);
            position: absolute;
            top: calc(50% - 6px);
            left: 4px;
            transition: $transition;
            opacity: 0;

            @media (min-width: $md) {
                display: none;
            }
        }

        @media (min-width: $md) {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 16px 24px;
            height: 54px;
            box-sizing: border-box;
            border-radius: 999px;
            margin-right: 4px;
            margin-bottom: 0;
            font-size: 14px;
            z-index: 1;
            color: $color-text-inactive;
            transition: color .3s ease-out;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }
        }

        @media (min-width: $lg) {
            &:hover {
                color: $color-accent;
            }
        }
    }

    input[type='radio']:checked + label {

        &::after {
            opacity: 1;
        }

        @media (min-width: $md) {
            color: $color-accent;
            cursor: default;
        }
    }

    .marker {
        width: 0;
        height: 54px;
        display: none;
        position: absolute;
        left: 0;
        bottom: 4px;
        z-index: 0;
        transition: all .3s ease-out;
        background: $color-back-secondary;
        opacity: 0;
        box-shadow:
                -10px -10px 30px rgba(35, 33, 58, 0.16),
                10px 10px 30px rgba(4, 5, 14, 0.8),
                inset 5px 6px 20px rgba(35, 33, 58, 0.5),
                inset -5px -6px 20px rgba(0, 2, 12, 0.2),
                0px 0px 0px 1px $color-back-secondary;
        border-radius: 999px;

        @media (min-width: $md) {
            display: block;
        }
    }
}
