//- Include used template for this page
extends ../../templates/default

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - const title       = 'Главная | Ekranika'
    - const description = 'Write description for the page here'
    - const keywords    = 'Write keywords for the page here'
    - const pageClass   = 'page-index'

block content
    include slider
    include ../../comps/offer/offer
    include ../../comps/list/list-partners-choose
    include ../../comps/projects/projects
    include ../../comps/work/work-order
    include ../../comps/clients/clients
    include ../../comps/feedback/feedback
    include ../../comps/callback/callback
    include ../../comps/faq/faq
