section.section.section_slider

    .slider
        .slider__background-image.swiper-container#bannerPictureSlider
            .swiper-wrapper
                .swiper-slide
                    .slider__picture(data-swiper-parallax-opacity="0" data-swiper-parallax="-200" data-swiper-parallax-duration="1000")
                        .slider__animation.visible#sliderAnimation
                            canvas#cMob.slider__canvas
                            canvas#cTab.slider__canvas
                            canvas#cDesk.slider__canvas

                .swiper-slide
                    .slider__picture(data-swiper-parallax-opacity="0" data-swiper-parallax="-200" data-swiper-parallax-duration="1000")
                        img.image.picture-man(src="/img/slider-back-1.jpg" alt="")

                .swiper-slide
                    .slider__picture(data-swiper-parallax-opacity="0" data-swiper-parallax="-200" data-swiper-parallax-duration="1000")
                        img.image(src="/img/slider-back-2.jpg" alt="")

                .swiper-slide
                    .slider__picture(data-swiper-parallax-opacity="0" data-swiper-parallax="-200" data-swiper-parallax-duration="1000")
                        img.image(src="/img/slider-back-3.jpg" alt="")

        .slider__mask
        .slider__content.swiper-container#bannerContentSlider
            .swiper-wrapper
                .slider__slide.swiper-slide
                    h2.slider__title(data-swiper-parallax-x="-50" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900") Погрузись в мир LED экранов
                    .slider__subtitle(data-swiper-parallax-x="-200" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200") Аренда под ключ 5000 р/м2
                    .slider__actions
                        a.btn.btn_primary(data-swiper-parallax-x="-300" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1700") Узнать стоимость
                        a.link.revers.btn-quiz-toggle(href="" data-swiper-parallax-x="-350" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="2100") Как выбрать экран?

                .slider__slide.swiper-slide
                    h2.slider__title(data-swiper-parallax-x="-50" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900") Погрузись в мир LED экранов
                    .slider__subtitle(data-swiper-parallax-x="-200" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200") Аренда под ключ 5000 р/м2
                    .slider__actions
                        a.btn.btn_primary(data-swiper-parallax-x="-300" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1700") Узнать стоимость
                        a.link.revers.btn-quiz-toggle(href="" data-swiper-parallax-x="-350" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="2100") Как выбрать экран?

                .slider__slide.swiper-slide
                    h2.slider__title(data-swiper-parallax-x="-50" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900") Погрузись в мир LED экранов
                    .slider__subtitle(data-swiper-parallax-x="-200" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200") Аренда под ключ 5000 р/м2
                    .slider__actions
                        a.btn.btn_primary(data-swiper-parallax-x="-300" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1700") Узнать стоимость
                        a.link.revers.btn-quiz-toggle(href="" data-swiper-parallax-x="-350" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="2100") Как выбрать экран?

                .slider__slide.swiper-slide
                    h2.slider__title(data-swiper-parallax-x="-50" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900") Погрузись в мир LED экранов
                    .slider__subtitle(data-swiper-parallax-x="-200" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1200") Аренда под ключ 5000 р/м2
                    .slider__actions
                        a.btn.btn_primary(data-swiper-parallax-x="-300" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1700") Узнать стоимость
                        a.link.revers.btn-quiz-toggle(href="" data-swiper-parallax-x="-350" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="2100") Как выбрать экран?

            .slide-nums#sliderNums
                .slide-nums__current
                    .slide-nums__scrolled
                        .slide-nums__number.active 01
                        .slide-nums__number 02
                        .slide-nums__number 03
                        .slide-nums__number 04
                .slide-nums__all
                    .number 04

            .btn.btn_icon-outlined.not-focused#btnSliderPrev
                include ../../../img/icon-slider-btn-arr.svg
            .btn.btn_icon-outlined.not-focused#btnSliderNext
                include ../../../img/icon-slider-btn-arr.svg
