.footer__logotype
    a.logo(href="/")
        img(src="/img/logo.svg" alt="")

    span.designed
        | Дизайн -
        a.revers(href="https://www.behance.net/maltsevoleg" target="_blank") Олег Мальцев

.footer__content

    .footer__contacts

        a.phone(href="tel:84999388779") +7 499 938 87 79

        ul.socials
            li
                a(href="").social-icon
                    .social-icon__pic
                        include ../../../img/icon-facebook.svg

            li
                a(href="").social-icon
                    .social-icon__pic
                        include ../../../img/icon-instagram.svg

            li
                a(href="").social-icon
                    .social-icon__pic
                        include ../../../img/icon-youtube.svg


        a.logo(href="/")
            img.logo-mob(src="/img/mob-logo.svg" alt="")
            img.logo-desc(src="/img/logo.svg" alt="")
    .nav
        ul.nav__list
            li.nav__item
                a(href="") Продукция на заказ
            li.nav__item
                a(href="") Портфолио
            li.nav__item
                a(href="") Сертификаты
            li.nav__item
                a(href="") Готовые решения
            li.nav__item
                a(href="") База знаний
            li.nav__item
                a(href="") Оплата
            li.nav__item
                a(href="") Услуги
            li.nav__item
                a(href="") Прошивки
            li.nav__item
                a(href="") Гарантии
            li.nav__item
                a(href="") Калькулятор
            li.nav__item
                a(href="") О компании
            li.nav__item
                a(href="") Контакты

.footer__copyright
    span.content Любое использование, либо копирование материалов сайта, элементов дизайна и оформления может осуществляться лишь с разрешения автора
    span.copy &#169; 2019-2020 ООО “Экраника”
    span.designed
        | Дизайн -
        a.revers(href="https://www.behance.net/maltsevoleg" target="_blank") Олег Мальцев
