@import "../../../scss/variables";

.page-our-works {

    .section_tab-list {
        margin-top: 16px;

        @media (min-width: $md) {
            margin-top: 24px;
        }

        @media (min-width: $lg) {
            margin-top: 68px;
        }

        @media (min-width: $xl) {
            margin-top: 96px;
        }

        .section__title {
            margin-bottom: 16px;

            @media (min-width: $md) {
                margin-bottom: 34px;
            }

            @media (min-width: $lg) {
                margin-bottom: 48px;
            }

            @media (min-width: $xl) {
                margin-bottom: 68px;
            }
        }
    }

    .form-order .section__title {
        @media (min-width: $xl) {
            margin-bottom: 68px;
        }
    }

    .tab-list {
        .tabs {
            position: relative;
            z-index: 2;
            transition-delay: .3s !important;

            @include title-animation;
        }

        .tabs-items {
            position: relative;
            z-index: 1;
        }
    }
}