//- Include used template for this page
extends ../../templates/default

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - const title       = 'Монтаж | Ekranika'
    - const description = 'Write description for the page here'
    - const keywords    = 'Write keywords for the page here'
    - const pageClass   = 'page-installation'

block content
    include ../../comps/banner-content/banner-content-installation
    include ../../comps/work/work-installation
    include ../../comps/types/types-equipment
    include ../../comps/projects/projects-installation
    include ../../comps/form-order/form-order