section.section.section_list
    .list
        .container
            h2.section__title.animation-element Преимущества

        .container-endless-fix
            .endless.list__list.swiper-container#listSlider
                .list__list__wrap.swiper-wrapper

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_1.animation-element
                            .list__title.animation-element
                                | Яркая
                                br
                                | картинка
                            .list__content.animation-element Медиаборт работает при любых погодных условиях одинаково ярко, имеет широкий охват на сотни зрителей

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_2.animation-element
                            .list__title.animation-element Трансляция любых типов контента
                            .list__content.animation-element Возможна трансляция как видеоряда, так и статичных изображений

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_3.animation-element
                            .list__title.animation-element
                                | Помогают в продажах
                                br
                                | из-за широкого охвата
                            .list__content.animation-element Медиаборт часто устанавливают в общественных местах с высокой проходимостью, трансляцию могут смотреть сотни зрителей

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_4.animation-element
                            .list__title.animation-element
                                | Универсальны
                                br
                                | в использовании
                            .list__content.animation-element Класс защиты позволяет использовать видеошары в помещении и на улице, в любую погоду
