@import "../../../scss/variables";

.list {

    .section__title {
        @include title-animation;

        @media (min-width: $md) {
            width: 500px;
        }

        @media (min-width: $lg) and (max-width: $xl - 1) {
            width: 640px;
            margin-bottom: 96px;
        }

        @media (min-width: $xl) {
            width: 700px;
        }
    }

    &__background {
        position: absolute;
        overflow: hidden;
        width: 100%;
        display: none;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;

        @media (min-width: $md) {
            display: block;
            bottom: -540px;
            height: 685px;
            background-image: url("/img/divider-content-768.png");
        }

        @media (min-width: $lg) {
            bottom: -550px;
            height: 571px;
            background-image: url("/img/divider-content-1366.png");
        }

        @media (min-width: $xl) {
            bottom: -640px;
            background-image: url("/img/divider-content-1920.png");
        }

        @media (min-width: $xxl) {
            bottom: -830px;
            height: 800px;
        }
    }

    &__list__wrap {
        @media (min-width: $lg) {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        @media (min-width: $xl) {
            justify-content: space-between;
        }
    }

    &__list {
        margin-top: -25px;
        padding-top: 25px;

        @media (min-width: $lg) {
            margin-bottom: -68px;
        }

        @media (min-width: $xl) {
            margin-bottom: -96px;
        }
    }

    &__slide {
        width: 224px; // 200px + 24px
        position: relative;
        padding-top: 72px;

        @media (min-width: $md) {
            width: 508px;  // 440px + 68px
            padding-top: 0;
        }

        @media (min-width: $lg) {
            width: 42.85714285714286% !important;
            padding-left: 130px;
            margin-bottom: 68px;

            &:nth-child(odd) {
                margin-right: 8.261617900172117%;
            }
        }

        @media (min-width: $xl) {
            width: 46.42857142857143% !important;
            padding-left: 144px;
            margin-bottom: 96px;
            margin-right: 0 !important;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 120px;
            height: 6px;
            top: 24px;
            right: 24px;
            background: $color-back-primary;
            box-shadow:
                    inset -2px -2px 5px rgba(52, 40, 62, 0.3),
                    inset 2px 2px 5px rgba(0, 2, 12, 0.8);
            border-radius: 12px;

            @media (min-width: $md) {
                display: none;
            }
        }
    }

    &__card {
        width: 200px;

        @media (min-width: $md) {
            width: 324px;
        }

        @media (min-width: $lg) {
            width: 100%;
        }
    }

    &__num {
        width: 56px;
        height: 56px;
        position: absolute;
        top: 0;
        left: 0;

        @media (min-width: $md) {
            width: 92px;
            height: 92px;
        }

        @media (min-width: $lg) {
            width: 96px;
            height: 96px;
            top: 11px;
            left: 0;
        }

        .back {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;

            background: linear-gradient(321.49deg, #1C1D30 -6.41%, #0B0C12 90.97%);
            box-shadow:
                    -8px -6px 30px rgba(35, 33, 58, 0.8),
                    8px 8px 58px rgba(4, 5, 14, 0.76);
            filter: blur(4px);

            @media (min-width: $xl) {
                box-shadow:
                        -12px -10px 30px rgba(35, 33, 58, 0.8),
                        12px 12px 58px rgba(4, 5, 14, 0.76);
            }
        }

        .number {
            width: 100%;
            height: 100%;
            position: relative;
            display: block;

            .img {
                width: 58px;
                height: 58px;
                top: 1px;
                left: -2px;
                display: block;
                z-index: 1;
                position: absolute;
                transition: all 1.7s cubic-bezier(0.22, 1, 0.36, 1);
                filter: grayscale(0);
                transform: scale(1, 1);
                opacity: 1;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;

                &.animation-element {
                    filter: grayscale(100%);
                    opacity: 0;
                    transform: scale(0.3, 0.3);
                }

                @for $i from 1 through 7 {
                    &.img_#{$i} {
                        background-image: url("/img/nums/#{$i}.svg");
                    }
                }

                @media (min-width: $md) {
                    width: 109px;
                    height: 109px;

                    &.img_1 {
                        top: -7px;
                        left: -12px;
                    }

                    &.img_2 {
                        top: -9px;
                        left: -10px;
                    }

                    &.img_3 {
                        top: -7px;
                        left: -10px;
                    }

                    &.img_4 {
                        top: -9px;
                        left: -12px;
                    }

                    &.img_5 {
                        top: -8px;
                        left: -10px;
                    }

                    &.img_6 {
                        top: -8px;
                        left: -11px;
                    }

                    &.img_7 {
                        top: -6px;
                        left: -11px;
                    }
                }

                @media (min-width: $lg) {
                    width: 111px;
                    height: 111px;

                    &.img_1 {
                        top: -8px;
                        left: -10px;
                    }

                    &.img_2 {
                        top: -9px;
                        left: -8px;
                    }

                    &.img_3 {
                        top: -7px;
                        left: -8px;
                    }

                    &.img_4 {
                        top: -10px;
                        left: -9px;
                    }

                    &.img_5 {
                        top: -8px;
                        left: -8px;
                    }

                    &.img_6 {
                        top: -8px;
                        left: -8px;
                    }

                    &.img_7 {
                        top: -7px;
                        left: -8px;
                    }
                }

                @media (min-width: $xl) {
                    width: 114px;
                    height: 114px;

                    &.img_1 {
                        top: -11px;
                        left: -11px;
                    }

                    &.img_2 {
                        top: -11px;
                        left: -9px;
                    }

                    &.img_3 {
                        top: -11px;
                        left: -9px;
                    }

                    &.img_4 {
                        top: -11px;
                        left: -9px;
                    }

                    &.img_5 {
                        top: -11px;
                        left: -9px;
                    }

                    &.img_6 {
                        top: -11px;
                        left: -10px;
                    }

                    &.img_7 {
                        top: -10px;
                        left: -9px;
                    }
                }
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: $color-text-secondary;
        margin-bottom: 12px;
        opacity: 1;
        transform: translateX(0);
        transition: all 1.7s cubic-bezier(0, 0.55, 0.45, 1);

        &.animation-element {
            opacity: 0;
            transform: translateX(70px);
        }

        @for $i from 1 through 7 {
            &:nth-child(#{$i}) {
                transition-delay: 0.1s * $i;
            }
        }

        @media (min-width: $md) {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 16px;
            transform: translateX(116px);
        }

        @media (min-width: $lg) {
            transform: translateX(0);
        }

        @media (min-width: $xl) {
            max-width: 480px;
            font-size: 30px;
            line-height: 1.4;
            margin-bottom: 24px;
        }
    }

    &__content {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.6;
        color: $color-text-inactive;
        margin-top: 12px;
        opacity: 1;
        transform: translateX(0);
        transition: all 1.7s cubic-bezier(0, 0.55, 0.45, 1);

        &.animation-element {
            opacity: 0;
            transform: translateX(100px);
        }

        @for $i from 1 through 7 {
            &:nth-child(#{$i}) {
                transition-delay: 0.1s * $i;
            }
        }

        @media (min-width: $md) {
            font-size: 14px;
            transform: translateX(116px);
        }

        @media (min-width: $lg) {
            transform: translateX(0);
            margin-top: 0;
        }
    }

    .lets-meet {
        display: none;

        &::before {
            display: none;
        }

        @media (min-width: $lg) {
            display: block;
        }

        @media (min-width: $xl) {
            margin-top: -16px;
        }

        .text {
            display: inline-block;
            font-weight: bold;
            font-size: 40px;
            line-height: 140%;
            letter-spacing: 0.02em;
            color: $color-text-secondary;
            margin-bottom: 24px;
            opacity: 1;
            transform: translateX(0);
            transition: $anim-card;
            transition-delay: .3s;

            &.animation-element {
                opacity: 0;
                transform: translateY(50px);
            }

            @media (min-width: $xl) {
                font-weight: 700;
                font-size: 60px;
                line-height: 1.4;
                margin-top: 4px;
                margin-bottom: 13px;
            }
        }

        .link {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.6;
            transition: $transition;

            &-container {
                opacity: 1;
                transform: translateY(0);
                transition: $anim-card;
                transition-delay: .5s;

                &.animation-element {
                    opacity: 0;
                    transform: translateY(50px);
                }
            }

            @media (min-width: $md) {
                &:hover svg path {
                    stroke: $color-text-primary;
                }
            }

            svg {
                position: relative;
                transform: translate(7px, 4px);

                path {
                    transition: $transition;
                }
            }
        }
    }
}