section.section.section_list
    .list
        .container
            h2.section__title.animation-element Преимущества

        .container-endless-fix
            .endless.list__list.swiper-container#listSlider
                .list__list__wrap.swiper-wrapper

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_1.animation-element
                            .list__title.animation-element
                                | Яркая
                                br
                                | картинка
                            .list__content.animation-element Видеокуб работает при любых погодных условиях одинаково ярко, имеет широкий охват на сотни зрителей

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_2.animation-element
                            .list__title.animation-element Видеоряд транслируется круглосуточно
                            .list__content.animation-element Можно установить диапазон и определенное время трансляций или установить режим работы 24/7

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_3.animation-element
                            .list__title.animation-element
                                | Высокий угол
                                br
                                | обзора
                            .list__content.animation-element Изображение можно приближать и отдалять, обладает высоким углом обзора

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_4.animation-element
                            .list__title.animation-element
                                | Долговечен
                                br
                                | и экономичен
                            .list__content.animation-element Срок службы от 10 лет, Несмотря на габариты потребляет мало электроэнергии
