section.section.section_list
    .list
        .container
            h2.section__title.animation-element Почему аренда выгоднее

        .container-endless-fix
            .endless.list__list.swiper-container#listSlider
                .list__list__wrap.swiper-wrapper

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_1.animation-element
                            .list__title.animation-element Привозим готовое к работе оборудование
                            .list__content.animation-element Изготовление, монтаж и настройку производят инженеры: всё, что нужно сделать — подробно описать задачу и обозначить ограничения по проекту

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_2.animation-element
                            .list__title.animation-element Подстраиваемся под пожелания
                            .list__content.animation-element С каждым заказом вы выбираете экран с понравившимся дизайном и набором функций из постоянно пополняющегося асcортимента

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_3.animation-element
                            .list__title.animation-element Отвечаем за качество картинки на экране
                            .list__content.animation-element Собираем экраны из одной партии модулей, поэтому они светят одинаково ярко. Изображение получается однородным, насыщенным и чётким. На экране нет прыгающих белых полос: такой эффект достигается благодаря высокой частоте обновления модулей (3 840 Гц)

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_4.animation-element
                            .list__title.animation-element Быстрый монтаж и демонтаж оборудования
                            .list__content.animation-element Тыльное и фронтальное обслуживание обеспечивает высокую скорость установки экрана, даже если нужно поставить его вплотную к стене или подвесить в воздухе. Это ускоряет процесс сборки и демонтажа экранов на площадке

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_5.animation-element
                            .list__title.animation-element Предоставим всё, чего не хватает к мероприятию
                            .list__content.animation-element Вам не придётся искать сцену, фермы, лебёдки, силовые дистрибьюторы: всё это мы привезём с собой при необходимости. LED экран снимут, разберут и увезут обратно, если у вас нет место для его хранения

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_6.animation-element
                            .list__title.animation-element Вы не платите за техобслуживание
                            .list__content.animation-element Экономия на техобслуживании: при аренде оно не потребуется. Аренда LED экрана обходится выгоднее, чем покупка, вне зависимости от вашего региона. Вы можете проверить это
                                a.revers(href="") в калькуляторе
