section.section.section_list
    .list
        .container
            h2.section__title.animation-element Преимущества

        .container-endless-fix
            .endless.list__list.swiper-container#listSlider
                .list__list__wrap.swiper-wrapper

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_1.animation-element
                            .list__title.animation-element Управление через ПК или сервер
                            .list__content.animation-element Видеоконтроллеры позволяют настроить удобный тип управления изображением

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_2.animation-element
                            .list__title.animation-element Управление несколькими входными сигналами
                            .list__content.animation-element Возможно одновременное управление несколькими сигналами. Например, конференц-звонок и презентация

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_3.animation-element
                            .list__title.animation-element Выбор размера видеостены
                            .list__content.animation-element Соберем экран нужного размера в соответствии с техзаданием

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_4.animation-element
                            .list__title.animation-element Многооконный режим
                            .list__content.animation-element На экран можно вывести несколько изображений
