section.section.section_list
    .list
        .container
            h2.section__title.animation-element Преимущества

        .container-endless-fix
            .endless.list__list.swiper-container#listSlider
                .list__list__wrap.swiper-wrapper

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_1.animation-element
                            .list__title.animation-element Размещение информации без ограничений
                            .list__content.animation-element На одном табло можно разместить практически неограниченный объем информации

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_2.animation-element
                            .list__title.animation-element Управление с ПК или ноутбука
                            .list__content.animation-element Контент можно редактировать с любого компьютера

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_3.animation-element
                            .list__title.animation-element Гибкая размерная сетка
                            .list__content.animation-element Конструкции могут быть любого размера: от малогабаритных до нескольких метров в длину

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_4.animation-element
                            .list__title.animation-element Просто установить
                            .list__content.animation-element Дополнитетльные конструкции для монтажа бегущех строк не требуются. В комплекте с поставкой идут уголки для крепежа
