section.section.section_list
    .list
        .container
            h2.section__title.animation-element Преимущества

        .container-endless-fix
            .endless.list__list.swiper-container#listSlider
                .list__list__wrap.swiper-wrapper

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_1.animation-element
                            .list__title.animation-element Заметны издалека и притягательны
                            .list__content.animation-element Широкий угол обзора помогает заметить экран издалека

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_2.animation-element
                            .list__title.animation-element Устойчивы к солнечному свету
                            .list__content.animation-element Днем изображение такое же яркое, как и ночью

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_3.animation-element
                            .list__title.animation-element Низкая стоимость рекламного контакта
                            .list__content.animation-element Медифасады часто устанавливают в общественных местах: бульвары, проспекты, места с высокой проходимостью

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_4.animation-element
                            .list__title.animation-element Экономичность и простое управление
                            .list__content.animation-element Потребляют мало энергии даже при крупных габаритах. Управлять контентом можно с любого компьютера
