section.section.section_list

    .list
        .container
            h2.section__title.animation-element Почему партнеры выбирают Экранику

        .container-endless-fix
            .endless.list__list.swiper-container#listSlider
                .list__list__wrap.swiper-wrapper

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_1.animation-element
                            .list__title.animation-element Компания - производитель с собственным складом
                            .list__content.animation-element Ценовые предложения без посредников и торговых надбавок. Даем рассрочку без переплат для постоянных партнеров

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_2.animation-element
                            .list__title.animation-element Быстрая доставка по России и СНГ
                            .list__content.animation-element Доставляем по Москве и области ― в течение одного — двух дней. По России и СНГ ― отправляем комфортным перевозчиком, на выбор клиента

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_3.animation-element
                            .list__title.animation-element Гарантийное обслуживание 3 года
                            .list__content.animation-element Даем гарантию на все виды готовых изделий, кроме блоков питания. Сотрудничаем с зарекомендованными поставщиками из КНР. Наделены опытными и обученными на заводах — производителях специалистами. Получаем поддержку представителей компаний Qiangli и Novastar

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_4.animation-element
                            .list__title.animation-element Полный цикл работ и расширенная поддержка
                            .list__content.animation-element Разработаем проект, произведем монтаж, гарантийное и послегарантийное обслуживание. Предоставим персонального менеджера для оперативного решения комплексных вопросов по услугам сервисного центра и технической поддержки заводов — производителей

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_5.animation-element
                            .list__title.animation-element Круглосуточная техподдержка
                            .list__content.animation-element Возникли неполадки ― сразу набирайте наш номер телефона. Ответим на вопросы, вернем технику в строй за считанные часы, причем независимо от того, где она была куплена

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_6.animation-element
                            .list__title.animation-element 28 моделей готовых кабинета в сборе
                            .list__content.animation-element Благодаря такому решению, выполним заказ в срок от 4 дней. Отправим готовый экран с уже необходимыми клиенту размерами, конфигурацией и шагом пикселя

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_7.animation-element
                            .list__title.animation-element Аренда готовых медиаэкранов
                            .list__content.animation-element Удобное и экономически выгодное решение для оценки возможностей LED экрана на желаемой площадке перед его покупкой. Привезем, смонтируем, подключим, настроим и будем следить за работой техники до завершения ивента

                    // Для полседнего элемента обязательно добавить .lets-meet
                    .list__slide.swiper-slide.lets-meet
                        .list__card
                            span.text.animation-element Наши проекты
                            .link-container.animation-element
                                a.link.revers(href="") Смотреть портфолио
                                    include ../../../img/icon-title-arr.svg