section.section.section_list
    .list
        .container
            h2.section__title.animation-element Преимущества

        .container-endless-fix
            .endless.list__list.swiper-container#listSlider
                .list__list__wrap.swiper-wrapper

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_1.animation-element
                            .list__title.animation-element
                                | Яркая
                                br
                                | картинка
                            .list__content.animation-element Экран работает при любых погодных условиях одинаково ярко

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_2.animation-element
                            .list__title.animation-element Видеоряд транслируется круглосуточно
                            .list__content.animation-element Можно установить диапазон и определенное время трансляций

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_3.animation-element
                            .list__title.animation-element
                                | Помогают в продажах
                                br
                                | из-за широкого охвата
                            .list__content.animation-element Часто устанавливают в общественных местах с высокой проходимостью, трансляцию могут смотреть сотни зрителей

                    .list__slide.swiper-slide
                        .list__card
                            .list__num
                                span.back
                                span.number
                                    span.img.img_4.animation-element
                            .list__title.animation-element Гибкая система управления контентом
                            .list__content.animation-element Управляется дистанционно с любого ПК или ноутбука
