section.section.section_ready-cabins
    .ready-cabins(data-filter-state='{"executionType":"","pixelStep":"","width":""}')

        .container
            h2.section__title.animation-element
                span.title Готовые кабинеты

        .container-endless.filter
            .endless.ready-cabins__controlls.animation-element
                include ../custom-slider-radio/custom-slider-radio-types
                include ../custom-selects/suffix-select-pixel-step
                include ../custom-selects/suffix-select-width

        .container#notRcFilterResults
            .ready-cabins__not-results
                .ready-cabins__not-results-text Нет элементов удовлетворящих выбранным значениям
                .ready-cabins__not-results-btn
                    .btn.btn_primary#resetRcFilter Сбросить фильтр

        .container-endless#rcSlider
            .endless.ready-cabins__list.swiper-container#readyCabinsSlider
                .ready-cabins__list__wrap.swiper-wrapper

                    .ready-cabins__slide.swiper-slide(data-filter-props='{"executionType":"vertical","pixelStep":"1,53","width":"3420"}')
                        .ready-cabins__card.animation-element
                            .ready-cabins__gallery.gallery
                                .ready-cabins__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/placeholder-img.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .ready-cabins__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .ready-cabins__caption Шаг 1,53 кабинет 640х480 для помещений
                            .ready-cabins__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .ready-cabins__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .ready-cabins__slide.swiper-slide(data-filter-props='{"executionType":"vertical","pixelStep":"1,53","width":"3420"}')
                        .ready-cabins__card.animation-element
                            .ready-cabins__gallery.gallery
                                .ready-cabins__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .ready-cabins__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .ready-cabins__caption Шаг 1,53 кабинет 650х480 для помещений
                            .ready-cabins__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .ready-cabins__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .ready-cabins__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"1,53","width":"4000"}')
                        .ready-cabins__card.animation-element
                            .ready-cabins__gallery.gallery
                                .ready-cabins__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .ready-cabins__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .ready-cabins__caption Шаг 1,53 кабинет 640х480 для помещений
                            .ready-cabins__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .ready-cabins__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .ready-cabins__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"1,53","width":"3420"}')
                        .ready-cabins__card.animation-element
                            .ready-cabins__gallery.gallery
                                .ready-cabins__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .ready-cabins__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .ready-cabins__caption Шаг 1,53 кабинет 640х480 для помещений
                            .ready-cabins__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .ready-cabins__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .ready-cabins__slide.swiper-slide(data-filter-props='{"executionType":"vertical","pixelStep":"2,5","width":"4000"}')
                        .ready-cabins__card.animation-element
                            .ready-cabins__gallery.gallery
                                .ready-cabins__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .ready-cabins__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .ready-cabins__caption Шаг 2,5 кабинет 640х480 для помещений
                            .ready-cabins__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .ready-cabins__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .ready-cabins__slide.swiper-slide(data-filter-props='{"executionType":"vertical","pixelStep":"3,5","width":"3000"}')
                        .ready-cabins__card.animation-element
                            .ready-cabins__gallery.gallery
                                .ready-cabins__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .ready-cabins__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .ready-cabins__caption Шаг 2,5 кабинет 640х480 для помещений
                            .ready-cabins__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .ready-cabins__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .ready-cabins__slide.swiper-slide(data-filter-props='{"executionType":"vertical","pixelStep":"2,5","width":"4000"}')
                        .ready-cabins__card.animation-element
                            .ready-cabins__gallery.gallery
                                .ready-cabins__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .ready-cabins__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .ready-cabins__caption Шаг 2,5 кабинет 640х480 для помещений
                            .ready-cabins__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .ready-cabins__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .ready-cabins__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"1,53","width":"3420"}')
                        .ready-cabins__card.animation-element
                            .ready-cabins__gallery.gallery
                                .ready-cabins__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .ready-cabins__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .ready-cabins__caption Шаг 1,53 кабинет 640х480 для помещений
                            .ready-cabins__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .ready-cabins__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .ready-cabins__slide.swiper-slide(data-filter-props='{"executionType":"vertical","pixelStep":"2,5","width":"3420"}')
                        .ready-cabins__card.animation-element
                            .ready-cabins__gallery.gallery
                                .ready-cabins__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .ready-cabins__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .ready-cabins__caption Шаг 2,5 кабинет 640х480 для помещений
                            .ready-cabins__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .ready-cabins__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .ready-cabins__slide.swiper-slide(data-filter-props='{"executionType":"vertical","pixelStep":"3,5","width":"5000"}')
                        .ready-cabins__card.animation-element
                            .ready-cabins__gallery.gallery
                                .ready-cabins__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .ready-cabins__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .ready-cabins__caption Шаг 3,5 кабинет 640х480 для помещений
                            .ready-cabins__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .ready-cabins__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .ready-cabins__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"4,5","width":"6000"}')
                        .ready-cabins__card.animation-element
                            .ready-cabins__gallery.gallery
                                .ready-cabins__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .ready-cabins__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .ready-cabins__caption Шаг 4,5 кабинет 640х480 для помещений
                            .ready-cabins__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .ready-cabins__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .ready-cabins__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"5,5","width":"6000"}')
                        .ready-cabins__card.animation-element
                            .ready-cabins__gallery.gallery
                                .ready-cabins__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .ready-cabins__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .ready-cabins__caption Шаг 5,5 кабинет 640х480 для помещений
                            .ready-cabins__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .ready-cabins__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать
                    .ready-cabins__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"6,5","width":"3420"}')
                        .ready-cabins__card.animation-element
                            .ready-cabins__gallery.gallery
                                .ready-cabins__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .ready-cabins__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .ready-cabins__caption Шаг 6,5 кабинет 640х480 для помещений
                            .ready-cabins__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .ready-cabins__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .ready-cabins__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"7,5","width":"7000"}')
                        .ready-cabins__card.animation-element
                            .ready-cabins__gallery.gallery
                                .ready-cabins__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .ready-cabins__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .ready-cabins__caption Шаг 7,5 кабинет 640х480 для помещений
                            .ready-cabins__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .ready-cabins__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

                    .ready-cabins__slide.swiper-slide(data-filter-props='{"executionType":"horizontal","pixelStep":"8,5","width":"7000"}')
                        .ready-cabins__card.animation-element
                            .ready-cabins__gallery.gallery
                                .ready-cabins__pics
                                    // При сборке превому элементу добавить класс .active
                                    .image.active(style="background-image: url('/img/placeholder-img.jpg')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-1.png')")
                                    .image(style="background-image: url('/img/temp/led-screen-card-placeholder-2.png')")

                                    .typical-solutions__pics-prev.slider-gallery-controller(data-direction="prev")
                                        include ../../../img/icon-title-arr.svg
                                    .typical-solutions__pics-next.slider-gallery-controller(data-direction="next")
                                        include ../../../img/icon-title-arr.svg

                                .ready-cabins__dots
                                    // При сборке превому элементу добавить класс .active
                                    .dot.active
                                    .dot
                                    .dot
                                    .dot
                            .ready-cabins__caption Шаг 8,5 кабинет 640х480 для помещений
                            .ready-cabins__params
                                span Яркость: 800
                                span Вес кабинета: 8
                                span Цена/кабинет: $1057
                            .ready-cabins__actions
                                a.btn.btn_primary(href="#")
                                a.revers(href="#") Рассчитать

            .btn.btn_icon-outlined.lite-background.slider-controller.slider-controller_prev#btnRcPrev
                include ../../../img/icon-slider-btn-arr.svg
            .btn.btn_icon-outlined.lite-background.slider-controller.slider-controller_next#btnRcNext
                include ../../../img/icon-slider-btn-arr.svg
