.form-order
    form.form-order__form#orderForm(action="/" method="POST" data-target="#orderModal")
        .form-order__data

            .form-order__user-data.animation-element
                .controller-group
                    label.controller-label Как вас зовут?
                    .controller.controller__input
                        label.label.label__icon
                            span.controller-icon.icon-human
                                img(src="/img/icon-person.svg" alt="")
                            input(type="text" placeholder="Константин Константинопольский" name="quizName" id="quizName")


                .controller-group.controller-group__validation
                    label.controller-label Номер телефона
                    //- Для валидного значения меняем класс у controller на valid
                    .controller.controller__input.single-valid-warning
                        label.label.label__icon
                            span.controller-icon.icon-phone
                                img(src="/img/icon-phone.svg" alt="")
                            input(type="text" placeholder="+7 900 000 00 00" name="quizPhone" id="quizPhone")
                        .validator.validator__cross
                            img.valid(src="/img/icon-validator-cross-valid.svg" alt="")
                            img.invalid(src="/img/icon-validator-cross-invalid.svg" alt="")
                        .validator.validator__check
                            img.valid(src="/img/icon-validator-check-valid.svg" alt="")
                            img.invalid(src="/img/icon-validator-check-invalid.svg" alt="")

            .form-order__comments
                .controller-group
                    label.controller-label Комментарий
                    .controller-wrap
                        span.controller-icon.icon-msg
                            img(src="/img/icon-message.svg" alt="")
                        textarea(placeholder="Напишите что-нибудь" name="quizMessage" id="quizMessage")


        .form-order__actions
            .form-order__actions-group
                span.form-order__privacy
                    | Нажимая на кнопку “Отправить заявку”, я даю согласие на
                    a.revers(href="/") обработку моих персональных данных
