.label-controll.label-controll_checkbox
    .label-controll__help.help-button(data-help-modal-id="helpModalOutsideScreenExtendedWarrantly")
        include ../../../img/icon-help.svg
        include ../../comps/help-modal/help-modal-outside-screen-extended-warrantly

    .custom-checkbox
        label.custom-checkbox__container
            | Расширенная гарантия
            input.visuallyhidden.hidden-label-controller.calc-checkbox(type="checkbox" data-calc-property="RG" data-calc-value="1")
            span.custom-checkbox__checkmark