.label-controll.label-controll_checkbox
    .label-controll__help.help-button(data-help-modal-id="helpModalOutsideScreenAdditionalSpare")
        include ../../../img/icon-help.svg
        include ../../comps/help-modal/help-modal-outside-screen-additional-spare

    .custom-checkbox
        label.custom-checkbox__container
            | Комплект запасных частей
            input.visuallyhidden.calc-checkbox(type="checkbox" data-calc-property="ZCH")
            span.custom-checkbox__checkmark