.label-controll.label-controll_checkbox
    .label-controll__help.help-button(data-help-modal-id="helpModalOutsideScreenElectricalProject")
        include ../../../img/icon-help.svg
        include ../../comps/help-modal/help-modal-outside-screen-electrical-project

    .custom-checkbox
        label.custom-checkbox__container
            | Электротехнический проект
            input.visuallyhidden.hidden-label-controller.calc-checkbox(type="checkbox" data-calc-property="EP")
            span.custom-checkbox__checkmark