.label-controll.label-controll_checkbox.label-controll_hidden.hide
    .label-controll_hidden-content
        .label-controll__help.help-button(data-help-modal-id="helpModalOutsideScreenSwitchboard")
            include ../../../img/icon-help.svg
            include ../../comps/help-modal/help-modal-outside-screen-switchboard

        .custom-checkbox
            label.custom-checkbox__container
                | Электрощитовая
                input.visuallyhidden.calc-checkbox(type="checkbox" data-calc-property="ESH")
                span.custom-checkbox__checkmark