.label-controll.label-controll_checkbox
    .label-controll__help.help-button(data-help-modal-id="helpModalOutsideScreenAdvancedService")
        include ../../../img/icon-help.svg
        include ../../comps/help-modal/help-modal-outside-screen-advanced-service

    .custom-checkbox
        label.custom-checkbox__container
            | Расширенный сервис
            input.visuallyhidden.hidden-label-controller.calc-checkbox(type="checkbox" data-calc-property="RS" data-calc-value="1")
            span.custom-checkbox__checkmark