@import "../../../scss/variables";

.custom-checkbox {
    padding-left: 34px;

    @media (min-width: $lg) {
        margin-bottom: -6px;
        cursor: pointer;

        &:hover .custom-checkbox__checkmark::after {
            opacity: 1;
        }
    }

    @media (min-width: $xl) {
        margin-bottom: 0;
    }

    &__container {
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: $color-text-secondary;
        cursor: pointer;
    }

    &__checkmark {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 22px;
        height: 22px;
        background: $color-back-primary;
        border-radius: 2px;
        transition: all .2s linear;
        box-shadow:
                inset -1px -1px 2px rgba(35, 33, 58, 0.3),
                inset 1px 1px 5px rgba(0, 2, 12, 0.8),
                -6px -5px 30px #23213A,
                12px 10px 30px rgba(0, 2, 12, 0.5);

        &::after,
        &.highlight:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transition: all .2s linear;
            border: 1px solid $color-accent;
            border-radius: 2px;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transition: all .2s linear;
            background: url("/img/icon-checkbox.svg") no-repeat left 5px center;
            border-radius: 2px;
        }

        &.highlight:after {
            opacity: 1;
        }
    }

    input[type="checkbox"]:checked ~ .custom-checkbox__checkmark {
        background-color: $color-accent;
        box-shadow:
                inset 2px 2px 3px rgba(49, 4, 38, 0.4),
                inset 2px 2px 3px rgba(49, 4, 38, 0.4),
                -6px -5px 30px #23213A,
                12px 10px 30px rgba(0, 2, 12, 0.5);

        &::before {
            opacity: 1;
        }

        &::after {
            opacity: 0;
        }
    }
}