.label-controll.label-controll_checkbox
    .label-controll__help.help-button(data-help-modal-id="helpModalInsideScreenBrightnessSensor")
        include ../../../img/icon-help.svg
        include ../../comps/help-modal/help-modal-inside-screen-brightness-sensor

    .custom-checkbox
        label.custom-checkbox__container
            | Датчик яркости
            input.visuallyhidden.calc-checkbox(type="checkbox" data-calc-property="DY")
            span.custom-checkbox__checkmark