.label-controll.label-controll_checkbox.calc-rent-technician-controller
    .label-controll__help.help-button(data-help-modal-id="helpModalRentTechnician")
        include ../../../img/icon-help.svg
        include ../../comps/help-modal/help-modal-rent-technician

    .custom-checkbox
        label.custom-checkbox__container
            | Техник для управления видео
            input.visuallyhidden.calc-checkbox(type="checkbox" data-calc-property="technician")
            span.custom-checkbox__checkmark