table
    tr
        th #
        th Наименование
        th Единица измерения
        th Количество
    tr
        td 1
        td Диффавтомат 16A-30mA 2p 6kA
        td шт
        td 26
    tr
        td 2
        td Автоматический выключатель 125A 3p 25kA
        td шт
        td 1
    tr
        td 3
        td Шкаф распределительный навесной
        td шт
        td 1
    tr
        td 4
        td Блок питания 300W 5V IP20
        td шт
        td 154
    tr
        td 5
        td Светодиодные LED модули
        td шт
        td 924
    tr
        td 6
        td Кабель силовой медный 3x2,5
        td м.п.
        td 520
    tr
        td 7
        td Труба гофрированная ПВХ
        td м.п.
        td 520
    tr
        td 8
        td Кабель силовой медный 5x50
        td м.п.
        td 5
    tr
        td 9
        td Доставка за пределы Москвы
        td шт
        td 1
    tr
        td 10
        td Управление контентом во время мероприятия
        td шт
        td 1
    tr
        td 11
        td Монтаж, установка, техническая консультация
        td шт
        td 1
    tr
        td 7
        td Труба гофрированная ПВХ
        td м.п.
        td 520
    tr
        td 8
        td Кабель силовой медный 5x50
        td м.п.
        td 5
    tr
        td 9
        td Доставка за пределы Москвы
        td шт
        td 1
    tr
        td 10
        td Управление контентом во время мероприятия
        td шт
        td 1
    tr
        td 11
        td Монтаж, установка, техническая консультация
        td шт
        td 1