.container
    .calc__order
        .calc__order-title
            span.title  Отправьте заявку на подробный расчет

        .calc__order-form
            include ../../comps/form-order/form-calc-results

        .calc__order-result
            .calc__order-result-pic
                // В зависимости от того с какого калькулятора пришли данные добавлять соответствующую картинку
                // img(src="/img/calc-location-outside.png" alt="")
                // img(src="/img/quiz-location-inside.png" alt="")
                // img(src="/img/calc-media-facade.png" alt="")
                // img(src="/img/quiz-location-inside.png" alt="")
                img(src="/img/calc-location-outside.png" alt="")

            .calc__order-result-list
                .calc__order-result-list-title Спецификация
                .calc__order-result-list-short
                    ul
                        li Уличный светодиодный экран 2720 x 3420 мм
                        li Комплектующие в сборе
                        li Гарантийное обслуживание
                        li Страховка
                .calc__order-result-list-sum
                    span Итого:
                    span.sum-container 1 320 000 ₽

            .calc__order-result-submit
                .form-order__actions
                    .form-order__actions-group
                        span.form-order__privacy
                            | Нажимая на кнопку “Отправить заявку”, я даю согласие на
                            a.revers(href="/") обработку моих персональных данных
                        .form-order__button
                            button.btn.btn_primary.form-order__submit(type="submit") Отправить заявку