//- Include used template for this page
extends ../../templates/default

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - const title       = 'Новость или статья | Ekranika'
    - const description = 'Write description for the page here'
    - const keywords    = 'Write keywords for the page here'
    - const pageClass   = 'page-single-article-news'

block content
    include ../../comps/article-news/article-news
    include ../../comps/news-list/news-list