section.section.section_banner
    .container

        .banner.swiper-container#contentBanner
            .banner__wrap.swiper-wrapper

                .banner__slide.swiper-slide
                    .banner__picture(style="background-image: url('/img/placeholder-img.jpg');" data-swiper-parallax-opacity="0")
                    .banner__content
                        h2.banner__title(data-swiper-parallax-x="-700" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700") Экран в аренду
                        .banner__subtitle(data-swiper-parallax-x="-800" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="800") Идеально для мероприятий
                        .banner__text(data-swiper-parallax-x="-900" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900")
                            .paragraph Предоставляем в аренду интерьерные и уличные экраны.
                            .paragraph
                                | Срок аренды — от 1 дня до нескольких месяцев.
                                br
                                | Инженеры настраивают оборудование под задачи и помогают отладить эксплуатацию.
                        .banner__actions
                            a.btn.btn_primary(data-swiper-parallax-x="-1000" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1100") Рассчитать стоимость
                            a.link.revers(href="" data-swiper-parallax-x="-900" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900") Отправить заявку на расчёт

                .banner__slide.swiper-slide
                    .banner__picture(style="background-image: url('/img/placeholder-img.jpg');" data-swiper-parallax-opacity="0")
                    .banner__content
                        h2.banner__title(data-swiper-parallax-x="-700" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700") Экран в аренду
                        .banner__subtitle(data-swiper-parallax-x="-800" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="800") Идеально для мероприятий
                        .banner__text(data-swiper-parallax-x="-900" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900")
                            .paragraph Предоставляем в аренду интерьерные и уличные экраны.
                            .paragraph
                                | Срок аренды — от 1 дня до нескольких месяцев.
                                br
                                | Инженеры настраивают оборудование под задачи и помогают отладить эксплуатацию.
                        .banner__actions
                            a.btn.btn_primary(data-swiper-parallax-x="-1000" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1100") Рассчитать стоимость
                            a.link.revers(href="" data-swiper-parallax-x="-900" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900") Отправить заявку на расчёт

                .banner__slide.swiper-slide
                    .banner__picture(style="background-image: url('/img/placeholder-img.jpg');" data-swiper-parallax-opacity="0")
                    .banner__content
                        h2.banner__title(data-swiper-parallax-x="-700" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="700") Экран в аренду
                        .banner__subtitle(data-swiper-parallax-x="-800" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="800") Идеально для мероприятий
                        .banner__text(data-swiper-parallax-x="-900" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900")
                            .paragraph Предоставляем в аренду интерьерные и уличные экраны.
                            .paragraph
                                | Срок аренды — от 1 дня до нескольких месяцев.
                                br
                                | Инженеры настраивают оборудование под задачи и помогают отладить эксплуатацию.
                        .banner__actions
                            a.btn.btn_primary(data-swiper-parallax-x="-1000" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="1100") Рассчитать стоимость
                            a.link.revers(href="" data-swiper-parallax-x="-900" data-swiper-parallax-opacity="0" data-swiper-parallax-duration="900") Отправить заявку на расчёт


            .slide-nums#bannerSliderNums
                .slide-nums__current
                    .slide-nums__scrolled
                        .slide-nums__number.active 01
                        .slide-nums__number 02
                        .slide-nums__number 03
                .slide-nums__all
                    .number 03


            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_prev#btnBannerProjectsPrev
                include ../../../img/icon-slider-btn-arr.svg
            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_next#btnBannerProjectsNext
                include ../../../img/icon-slider-btn-arr.svg
