@import "../../../scss/variables";

.types {

    @media (min-width: $lg) {
        background: $color-back-secondary;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    @media (min-width: $xl) {
        padding-top: 134px;
        padding-bottom: 134px;
    }

    .section__title {
        @include title-animation;

        .title {
            @media (min-width: $md) {
                display: block;
                margin-bottom: -15px;
            }

            @media (min-width: $lg) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }

    .section__link {
        @include title-link-animation;
    }

    &__list {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: -50px;
        margin-bottom: -50px;
    }

    &__slide {
        margin-top: 16px;
        width: 266px; // 242px + 24px

        @media (min-width: $md) {
            width: 493px; // 445px + 48px
            margin-top: 48px;
            height: auto;
        }

        @media (min-width: $lg) {
            width: 513px; // 445px + 68px
            margin-top: 48px;
        }

        @media (min-width: $xl) {
            width: 720px; // 624px + 96px
            margin-top: 89px;
        }

        @for $i from 1 through 5 {
            &:nth-child(#{$i}) .types__card {
                transition-delay: 0.3s * $i;
            }
        }
    }

    &__card {
        @include card-animation;

        position: relative;
        width: 242px;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0 16px 16px;
        background: $color-back-secondary;
        border-radius: 12px;
        box-shadow:
                -14px -14px 30px rgba(35, 33, 58, 0.35),
                16px 5px 40px rgba(4, 5, 14, 0.6);


        @media (min-width: $md) {
            width: 445px;
            height: 100%;
            padding: 0 34px 34px;
            box-shadow:
                    -14px -14px 40px rgba(35, 33, 58, 0.35),
                    16px 5px 40px rgba(4, 5, 14, 0.6);
        }

        @media (min-width: $xl) {
            width: 624px;
            padding: 0 48px 48px;
        }
    }

    &__pic {
        position: relative;
        width: 211px;
        height: 168px;
        border-radius: 12px;
        transform: translateY(-16px);
        overflow: hidden;

        @media (min-width: $md) {
            width: 377px;
            height: 323px;
            transform: translateY(-48px);
            box-shadow:
                    -14px -14px 40px rgba(35, 33, 58, 0.35),
                    16px 5px 40px rgba(4, 5, 14, 0.6);
        }

        @media (min-width: $lg) {
            width: 377px;
            height: 323px;
            transform: translateY(-48px);
        }

        @media (min-width: $xl) {
            width: 528px;
            height: 364px;
            transform: translateY(-89px);
        }

        .image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: all .4s ease-out;
        }

        @media (min-width: $lg) {
            &:hover {
                .image {
                    width: 110%;
                    height: 110%;
                }
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: $md) {
            display: block;
            margin-top: -14px;
        }

        @media (min-width: $xl) {
            margin-top: -41px;
        }
    }

    &__caption {
        width: 170px;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        color: $color-text-secondary;

        @media (min-width: $md) {
            width: 100%;
            font-weight: bold;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: 0.02em;
        }

        @media (min-width: $xl) {
            font-size: 30px;
            line-height: 140%;
        }
    }

    &__description {
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        color: $color-text-inactive;
        height: auto;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-25px);
        transition: all .7s;

        @media (min-width: $md) {
            max-height: none;
            opacity: 1;
            transform: none;
            overflow: initial;
        }

        @media (min-width: $lg) {
            font-size: 14px;
        }

        .text {
            margin-top: 16px;

            @media (min-width: $md) {
                margin-top: 8px;
            }

            @media (min-width: $xl) {
                margin-top: 16px;
            }
        }
    }

    &__btn {
        margin-right: 3px;
        width: 9px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            transform: scale(1, 1);
            transition: transform .3s;
        }

        @media (min-width: $md) {
            display: none;
        }
    }

    .open {
        .types__description {
            max-height: 400px;
            opacity: 1;
            transform: translateY(0);
        }

        .types__btn svg {
            transform: scale(1, -1);
        }
    }

    #btnTypesSliderPrev {
        margin-top: 16px;
    }

    #btnTypesSliderNext {
        margin-top: -87px;
    }
}
