section.section.section_types
    .types

        .container
            h2.section__title.animation-element
                span.title Типы оборудования
                span.section__link.animation-element
                    a.revers(href="") Нужна помощь в подборе оборудования?
                        include ../../../img/icon-title-arr.svg

        .container-endless
            .endless.types__list.swiper-container#typesSlider
                .types__list__wrap.swiper-wrapper

                    .types__slide.swiper-slide
                        .types__card.animation-element
                            // В аторибут data-gallery-img-source доабавить путь для основной (большй) картинки
                            .types__pic.custom-cursor.gallery-picture(data-gallery-img-source="/img/placeholder-img.jpg")
                                // В src для картинки добавить картинку для анонса
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .types__title
                                .types__caption Absen 3.9 для помещений
                                .types__btn
                                    include ../../../img/icon-faq.svg

                            .types__description
                                .text Высокая яркость 1000 нит и контрастность изображения передают сочную картинку даже в светлом помещении, а удобный размер кабинета 500х500 позволяет построить экран точного размера и нужного соотношения сторон. Рекомендуемая дистанция для просмотра не менее 3,5 метров.

                    .types__slide.swiper-slide
                        .types__card.animation-element
                            .types__pic.custom-cursor.gallery-picture(data-gallery-img-source="/img/placeholder-img.jpg")
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .types__title
                                .types__caption QiangLi 4.8 для уличных мероприятий
                                .types__btn
                                    include ../../../img/icon-faq.svg
                            .types__description
                                .text Высокая яркость 5000 нит и контрастность изображения показывают сочную картинку даже под прямыми солнечными лучами. Защита IP65 обеспечивает бесперебойную работу экрана в любую погоду. Частота обновления 3840 Гц позволяет производить съемку на камеру без визуальных помех. Удобный размер кабинета 500х500 позволяет построить экран точного размера и нужного соотношения сторон.

                    .types__slide.swiper-slide
                        .types__card.animation-element
                            .types__pic.custom-cursor.gallery-picture(data-gallery-img-source="/img/placeholder-img.jpg")
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .types__title
                                .types__caption Управление Novastar и другие аксессуары
                                .types__btn
                                    include ../../../img/icon-faq.svg
                            .types__description
                                .text Помимо светодиодного экрана у нас есть все необходимые аксессуары для проведения мероприятий - от систем управления для ведения трансляций до ферм и сцены для застройки площадки.

                    .types__slide.swiper-slide
                        .types__card.animation-element
                            .types__pic.custom-cursor.gallery-picture(data-gallery-img-source="/img/placeholder-img.jpg")
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .types__title
                                .types__caption Absen 3.9 для помещений
                                .types__btn
                                    include ../../../img/icon-faq.svg
                            .types__description
                                .text Высокая яркость 1000 нит и контрастность изображения передают сочную картинку даже в светлом помещении, а удобный размер кабинета 500х500 позволяет построить экран точного размера и нужного соотношения сторон. Рекомендуемая дистанция для просмотра не менее 3,5 метров.

                    .types__slide.swiper-slide
                        .types__card.animation-element
                            .types__pic.custom-cursor.gallery-picture(data-gallery-img-source="/img/placeholder-img.jpg")
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .types__title
                                .types__caption QiangLi 4.8 для уличных мероприятий
                                .types__btn
                                    include ../../../img/icon-faq.svg
                            .types__description
                                .text Высокая яркость 5000 нит и контрастность изображения показывают сочную картинку даже под прямыми солнечными лучами. Защита IP65 обеспечивает бесперебойную работу экрана в любую погоду. Частота обновления 3840 Гц позволяет производить съемку на камеру без визуальных помех. Удобный размер кабинета 500х500 позволяет построить экран точного размера и нужного соотношения сторон.

                    .types__slide.swiper-slide
                        .types__card.animation-element
                            .types__pic.custom-cursor.gallery-picture(data-gallery-img-source="/img/placeholder-img.jpg")
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .types__title
                                .types__caption Управление Novastar и другие аксессуары
                                .types__btn
                                    include ../../../img/icon-faq.svg
                            .types__description
                                .text Помимо светодиодного экрана у нас есть все необходимые аксессуары для проведения мероприятий - от систем управления для ведения трансляций до ферм и сцены для застройки площадки.

            .btn.btn_icon-outlined.lite-background.slider-controller.slider-controller_prev#btnTypesSliderPrev
                include ../../../img/icon-slider-btn-arr.svg
            .btn.btn_icon-outlined.lite-background.slider-controller.slider-controller_next#btnTypesSliderNext
                include ../../../img/icon-slider-btn-arr.svg
