@import "../../../scss/variables";

.page-mediabort {

    .banner-content__title {
        @media (min-width: $xl) {
            margin-bottom: 64px;
            min-height: initial;
        }
    }

    .banner-content .slide-nums {
        @media (min-width: $xl) {
            top: 240px;
        }
    }

    .banner-content #btnBannerProjectsPrev,
    .banner-content #btnBannerProjectsNext {
        @media (min-width: $xl) {
            top: 218px;
        }
    }
}