@import "../../../scss/variables";

.faq {

    .section__title {
        @include title-animation;
    }

    .section__link {
        @include title-link-animation;
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 48px;

        @include card-animation;

        @media (min-width: $xl) {
            margin-top: 134px;
        }
    }

    &__item {
        display: none;
        width: 100%;
        border-radius: 12px;
        margin-bottom: 16px;
        background: $color-back-primary;
        padding: 12px;
        box-shadow:
                -5px -5px 20px rgba(35, 33, 58, 0.35),
                5px 5px 20px rgba(4, 5, 14, 0.8),
                inset 24px 24px 110px rgba(4, 2, 19, 0.5),
                inset -24px -24px 110px rgba(255, 255, 255, 0.06);
        transform: translateY(25px);
        opacity: 0;
        transition:
                opacity .5s ease-out,
                transform .5s ease-out,
                background-color .2s,
                box-shadow .2s;

        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                z-index: calc(21 - #{$i});
            }
        }

        @media (min-width: $md) {
            margin-bottom: 24px;
            padding: 24px 34px;
            box-shadow:
                    -14px -14px 40px rgba(35, 33, 58, 0.35),
                    16px 5px 40px rgba(4, 5, 14, 0.6);
        }

        @media (min-width: $lg) {
            padding: 34px;

            &:hover {
                box-shadow:
                        -14px -14px 40px rgba(35, 33, 58, 0.35),
                        16px 5px 40px rgba(4, 5, 14, 0.6),
                        inset 24px 24px 110px rgba(4, 2, 19, 0.5),
                        inset -24px -24px 110px rgba(255, 255, 255, 0.06);
            }
        }

        @media (min-width: $xl) {
            padding: 48px;
            margin-bottom: 34px;
        }

        &.visible {
            box-shadow:
                    -14px -14px 40px rgba(35, 33, 58, 0.35),
                    16px 5px 40px rgba(4, 5, 14, 0.6),
                    inset 24px 24px 110px rgba(4, 2, 19, 0.5),
                    inset -24px -24px 110px rgba(255, 255, 255, 0.06);

            .faq__description{
                opacity: 1;
            }

            .faq__toggler {
                transform: scale(1, -1);
            }
        }
        
        &.display {
            display: block;
        }

        &.show {
            transform: translateY(0);
            opacity: 1;
        }
    }

    &__toggler {
        width: 9px;
        height: 6px;
        top: calc(50% - 3px);
        right: 4px;
        position: absolute;
        background: url("/img/icon-faq.svg") center no-repeat;
        background-size: 100%;
        transform: scale(1, 1);
        transition: $transition;

        @media (min-width: $md) {
            width: 28px;
            height: 16px;
            top: calc(50% - 7px);
            right: 0;
        }

        @media (min-width: $xl) {
            top: calc(50% - 9px);
        }
    }

    &__caption {
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.02em;
        text-align: left;
        color: $color-text-secondary;
        cursor: pointer;
        position: relative;
        padding-right: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-top: -12px;
        margin-bottom: -12px;

        @media (min-width: $md) {
            font-weight: bold;
            font-size: 24px;
            min-height: 90px;
            display: flex;
            align-items: center;
            padding-top: 24px;
            padding-bottom: 24px;
            margin-top: -24px;
            margin-bottom: -24px;
        }

        @media (min-width: $xl) {
            padding-top: 34px;
            padding-bottom: 34px;
            margin-top: -34px;
            margin-bottom: -34px;
        }

        @media (min-width: $xl) {
            font-size: 30px;
            line-height: 140%;
        }
    }

    &__description {
        overflow-y: hidden;
        max-height: 0;
        height: auto;
        opacity: 0;

        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 160%;
            color: $color-text-inactive;
            margin: 8px 0;

            @media (min-width: $md) {
                font-size: 14px;
            }

            @media (min-width: $xl) {
                font-size: 16px;
                margin: 12px 0;
            }
        }

        ul {

            li {
                margin: 24px 0;

                span {
                    display: block;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 160%;
                    color: $color-text-secondary;
                    opacity: 0.8;
                    position: relative;
                    padding-left: 18px;

                    @media (min-width: $md) {
                        font-size: 14px;
                    }

                    @media (min-width: $xl) {
                        font-size: 16px;
                        padding-left: 25px;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 5px;
                        left: 0;

                        @extend .point;

                        @media (min-width: $xl) {
                            top: 8px;
                        }
                    }
                }

                @media (min-width: $md) {
                    &:first-child span:first-child {
                        margin-top: 34px;
                    }
                }

                @media (min-width: $xl) {
                    &:first-child span:first-child {
                        margin-top: 36px;
                    }

                    p {
                        padding-left: 25px;
                    }
                }
            }
        }

        &-body {
            padding-top: 28px;

            @media (min-width: $md) {
                padding-top: 50px;
            }

            @media (min-width: $lg) {
                padding-top: 35px;
            }

            @media (min-width: $xl) {
                padding-top: 56px;
            }
        }

        &-footer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            @media (min-width: $md) {
                flex-direction: row;
                align-items: flex-end;
                margin-top: 34px;
                margin-bottom: 10px;
            }

            @media (min-width: $lg) {
                align-items: center;
                margin-bottom: 0;
            }

            @media (min-width: $xl) {
                margin-top: 36px;
            }

            p {
                color: $color-text-secondary;
                margin-top: 0;

                @media (min-width: $md) {
                    margin: 0;
                }
            }

            .btn {
                margin-top: 8px;

                @media (min-width: $md) {
                    flex: 1 0 auto;
                    margin-top: 0;
                    margin-left: 24px;
                }
            }
        }
    }

    &__more {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 76px;
        box-shadow:
            -5px -5px 20px rgba(35, 33, 58, 0.35),
            5px 5px 20px rgba(4, 5, 14, 0.8),
            inset 24px 24px 110px rgba(4, 2, 19, 0.5),
            inset -24px -24px 110px rgba(255, 255, 255, 0.06);
        background: $color-back-primary;
        border-radius: 12px;
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: $color-text-secondary;
        transition: background-color .2s, box-shadow .2s;
        padding: 0 12px;

        .points {
            .point {
                display: none;

                &:first-child {
                    display: block;
                }

                @media (min-width: $md) {
                    display: block !important;
                    margin-right: 8px;
                }
            }

            @media (min-width: $md) {
                display: flex;
            }
        }

        @media (min-width: $md) {
            height: 90px;
            box-shadow:
                    -14px -14px 40px rgba(35, 33, 58, 0.35),
                    16px 5px 40px rgba(4, 5, 14, 0.6);
            font-weight: bold;
            font-size: 24px;
            padding: 0 34px;
        }

        @media (min-width: $lg) {
            height: 110px;
            cursor: pointer;

            &:hover {
                box-shadow:
                        -14px -14px 40px rgba(35, 33, 58, 0.35),
                        16px 5px 40px rgba(4, 5, 14, 0.6),
                        inset 24px 24px 110px rgba(4, 2, 19, 0.5),
                        inset -24px -24px 110px rgba(255, 255, 255, 0.06);
            }
        }

        @media (min-width: $xl) {
            height: 138px;
            font-size: 30px;
            line-height: 140%;
            padding: 0 48px;
        }
    }
}