section.section.section_faq
    .faq
        .container
            h2.section__title.animation-element
                span.title Отвечаем на вопросы
                span.section__link.animation-element
                    a.revers(href="") База знаний
                        include ../../../img/icon-title-arr.svg

            // При инициализации первым 5 элементам добавить класссы .display и .show
            .faq__list.animation-element
                .faq__item.display.show
                    .faq__caption Что нужно знать для подбора экрана?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Основные критерии, которые необходимо учитывать перед арендой или приобретением светодиодного экрана:

                            ul
                                li
                                    span Яркость
                                    p Попадание прямых солнечных лучей на экран может вызвать эффект засветки изображения. Для исключения подобных явлений уличные LED-панели должны иметь яркость не менее 5000 Нит. Внутри помещений достаточно 800 Нит
                                li
                                    span Цветопередача
                                    p На сегодняшний день применяются две основные группы светодиодных экранов:	монохромные, с одноцветным выводом изображения (в большинстве случаев применяются для передачи текстовой и графической информации) и	полноцветные, передающие всю цветовую гамму
                                li
                                    span Разрешение и оптимальное расстояние просмотра
                                    p Плотность пикселей непосредственно влияет на качество отображаемого изображения на экране. Чем выше разрешение, тем ближе положение, с которого картинка будет восприниматься целостно, без разбивки на отдельные точки
                                    p Важный параметр, от которого зависит разрешение – шаг пикселя (расстояние между центральными точками двух рядом стоящих пикселей). От него же зависит расстояние просмотра. Усредненный расчет для определения минимального удаления зрителя от экрана делается по формуле Px1000, где P = шаг пикселя в мм
                                    p Оптимальное значение P внутри помещений составляет от 0,5 мм (Full HD качество) до 4, максимум 10. В наружных конструкциях применяются LED-панели с шагом от 4 до 20 мм
                                li
                                    span Угол обзора
                                    p Угол обзора светодиодных экранов зависит от типа конструкции светодиода. Поверхностный SMD монтаж позволяет применять светодиоды нового поколения с расширением угла обзора до 140° в обеих плоскостях
                                li
                                    span Потребляемая мощность и напряжение
                                    p Перед установкой LED-панелей необходимо уточнить параметры электросетей здания или помещения по допустимым нагрузкам. Средний диапазон мощности, потребляемой от сети, составляет от 350 до 650 Вт в зависимости от модели экрана
                                li
                                    span Монтажная конструкция
                                    p Светодиодные панели собираются из отдельных модулей (кабинетов) разных типовых размеров. Полностью собранное оборудование должно иметь идеальную геометрию без видимых границ между блоками. Для уличных экранов обязательным условием является прочность конструкции, соответствующая ветровой нагрузке конкретного региона
                                li
                                    span Надежность и безопасность
                                    p Уличные светодиодные панели имеют класс защиты IP65, предотвращающий повреждения от попадания твердых предметов, а также исключающий попадание воды и пыли к узлам электрооборудования
                                    p Для внутренних экранов достаточен класс IP31, защищающий от попадания мелких (от 2,5 мм) предметов и капель воды. В зависимости от региона и места монтажа светодиодные панели могут оснащаться системами охлаждения и подогрева

                        .faq__description-footer
                            p Не знаете какой экран выбрать? Пройдите опрос из 4-х простых вопросов, на основании ответов на которые, мы подберем для вас именнно то, что наиболее подходит под ваши потребности
                            .btn.btn_primary Пройти опрос


                .faq__item.display.show
                    .faq__caption Как подобрать шаг пикселя?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item.display.show
                    .faq__caption В чем разница между уличным и внутренним?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item.display.show
                    .faq__caption Как посмотреть варианты экранов?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item.display.show
                    .faq__caption Как подобрать управление?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item
                    .faq__caption Как происходит оплата?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item
                    .faq__caption Как происходит установка?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item
                    .faq__caption Как происходит доставка?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item
                    .faq__caption Сколько времени занимает установка?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item
                    .faq__caption Сколько служит экран?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item
                    .faq__caption Какая гарантия?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item
                    .faq__caption Сколько весит экран?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item
                    .faq__caption На что ставят экран в помещении или на улице?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item
                    .faq__caption Разница между фронтальным и тыльным обслуживанием?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item
                    .faq__caption Как управлять контентом?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item
                    .faq__caption Где заказать видеоряд?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item
                    .faq__caption Как происходит постпродажное обслуживание?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item
                    .faq__caption Что делать, если наступил гарантийный случай?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

                .faq__item
                    .faq__caption Что делать, если повредили экран?
                        .faq__toggler
                    .faq__description
                        .faq__description-body
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi consectetur, cum eaque enim eos esse excepturi fugit incidunt iusto laboriosam, minus nobis quaerat quis reprehenderit sequi totam ullam, vel!

            .faq__more
                span.points.points_left
                    span.point
                    span.point
                    span.point
                span.text Ещё вопросы
                span.points.points_right
                    span.point
                    span.point
                    span.point
