//- Include used template for this page
extends ../../templates/default

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - const title       = 'Светодиодный шар | Ekranika'
    - const description = 'Write description for the page here'
    - const keywords    = 'Write keywords for the page here'
    - const pageClass   = 'page-led-ball'

block content
    include ../../comps/banner-content/banner-content-led-ball
    include ../../comps/list/list-led-ball
    include ../../comps/typical-solutions/typical-solutions
    include ../../comps/work/work-rent
    include ../../comps/projects/projects-content
    include ../../comps/form-order/form-order