section.section.section_work

    .work__background

    .work.work-num-animation
        .container
            h2.section__title.animation-element Как мы работаем над заказом
            .work__steps.animation-element 6 шагов до наслаждения яркостью

        .container-endless
            .endless.work__list.swiper-container#workSlider
                .work__list__wrap.swiper-wrapper

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Подбор экрана и комплектующих
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span 1 день
                            .work__content.animation-element Обсуждаем с клиентом задачу, подбираем готовое решение, определяем LED модули и систему управления. Формируем заказ

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Согласование проекта
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span 3 дня
                            .work__content.animation-element Встречаемся с клиентом, чтобы подтвердить расчёты и сметы, согласовать электропроект. При необходимости помогаем подготовить помещение под установку экрана

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Изготовление и прошивка
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span 7 - 10 дней
                            .work__content.animation-element Собираем светодиодные модули и каркас в прочную упаковку, готовим к транспортировке. Выбираем программное обеспечение, выполняем подготовку и настройки

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Доставка на объект клиента
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span 3 дня
                            .work__content.animation-element Перевозим комплектующие для сборки LED экрана на площадку

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Сборка и монтаж оборудования
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span 2 дня
                            .work__content.animation-element Собираем LED экран из подготовленных и доставленных на площадку комплектующих, устанавливаем его в соответствии с проектом. Вносим завершающие настройки перед запуском

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Запуск LED экрана
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span 1 день
                            .work__content.animation-element Рассказываем, как загружать контент и пользоваться управлением. Ваш LED экран работает, посетители наслаждаются ярким и чётким изображением
