section.section.section_work
    .work.work-num-animation
        .container
            h2.section__title.animation-element Этапы проектирования

        .container-endless
            .endless.work__list.swiper-container#workSlider
                .work__list__wrap.swiper-wrapper

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Выезд инженера на площадку
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span несколько часов
                            .work__content.animation-element Выезжаем на площадку, изучаем особенности помещения, предлагаем варианты размещения экрана и конструкций

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Проектирование конструкции
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span несколько часов
                            .work__content.animation-element В проекте описываем план расположения конструкции относительно наблюдателей и просчитываем расстояния

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Проектирование коммуникаций
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span несколько часов
                            .work__content.animation-element Это сложный технический проект, который включает систему электроснабжения, охлаждения и т.д.

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Проектирование медиафасада
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span несколько часов
                            .work__content.animation-element Подбираем модель экрана, согласовываем техническую документацию, выбираем подсветку, составляем смету
                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Разработка 3D модели
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span несколько часов
                            .work__content.animation-element При необходимости разрабатываем 3D модель будущего медиафасада и составляем спецификацию

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Расчеты для устойчивости
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span несколько часов
                            .work__content.animation-element Чтобы монтаж конструкции одобрили, важно предоставить расчет устойчивости и безопасности конструкции
