section.section.section_work
    .work.work-num-animation
        .container
            h2.section__title.animation-element Этапы работы

        .container-endless
            .endless.work__list.swiper-container#workSlider
                .work__list__wrap.swiper-wrapper

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Подбор оборудования
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span 1 - 2 дня
                            .work__content.animation-element Выясняем потребности и формируем коммерческое предложение с учетом пожеланий

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Согласование сроков
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span 1 - 2 дня
                            .work__content.animation-element Согласовываем проект, заключаем договор, где прописаны условия аренды

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Подготовка площадки
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span 1 - 2 дня
                            .work__content.animation-element Инженер приезжает на площадку и оценивает: где и как установить экран, что учесть при монтаже

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Доставка и монтаж
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span 1 день
                            .work__content.animation-element Привозим экран и комплектующие, собираем и настраиваем оборудование на площадке

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Проведение мероприятия
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span от одного дня до нескольких месяцев
                            .work__content.animation-element Вносим завершающие настройки перед запуском и проверяем, чтобы всё корректно работало

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Демонтаж оборудования
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span 1 - 2 дня
                            .work__content.animation-element Когда срок аренды заканчиваются, демонтируем оборудование и отвозим на склад
