section.section.section_work
    .work.work-num-animation
        .container
            h2.section__title.animation-element Этапы монтажа

        .container-endless
            .endless.work__list.swiper-container#workSlider
                .work__list__wrap.swiper-wrapper

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Подготовка площадки
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span несколько часов
                            .work__content.animation-element Выезжаем на площадку, изучаем особенности помещения, предлагаем варианты размещения экрана и конструкций

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Монтаж элементов
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span несколько часов
                            .work__content.animation-element После согласования проекта и заключения договора инженеры производят монтаж констукции и элементов

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Коммутация проводов
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span несколько часов
                            .work__content.animation-element Инженеры прячут все коммуникации, чтобы спрятать провода от наблюдателей и обеспечить их безопасность

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Монтаж доп. оборудования
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span несколько часов
                            .work__content.animation-element В зависимости от проекта может потребоваться увиленный каркас, лебёдки или другое дополнительное оборудование

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Настройка софта и ПО
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span несколько часов
                            .work__content.animation-element Вносим завершающие настройки перед запуском и проверяем, чтобы всё корректно работало

                    .work__slide.swiper-slide
                        .work__card
                            .work__num
                                .lines
                                    include ../../../img/stages.svg
                                .number
                                    include ../../../img/nums.svg
                            .work__title.animation-element Тестовый запуск
                            .work__day.animation-element
                                img(src="/img/icon-clock.svg" alt="")
                                span несколько часов
                            .work__content.animation-element Во время тестового запуска проверяем адресацию экрана, подключение к контроллеру, настройки яркости и цвета
