@import "../../../scss/variables";

.work {
    overflow: hidden;

    .section__title {
        @include title-animation;
            @media (min-width: $md) {
                width: 444px;
            }

            @media (min-width: $xl) {
                width: 600px;
            }
    }

    &__background {
        position: absolute;
        overflow: hidden;
        width: 100%;
        display: none;
        z-index: -1;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;

        @media (min-width: $md) {
            display: block;
            bottom: -595px;
            height: 685px;
            transform: scale(-1, 1);
            background-image: url("/img/divider-content-768.png");
        }

        @media (min-width: $lg) {
            bottom: -618px;
            height: 571px;
            transform: none;
            background-image: url("/img/divider-content-1366.png");
        }

        @media (min-width: $xl) {
            bottom: -737px;
            background-image: url("/img/divider-content-1920.png");
        }

        @media (min-width: $xxl) {
            bottom: -927px;
            height: 800px;
        }
    }

    &__list__wrap {
        @media (min-width: $lg) {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    }

    &__list {
        padding-top: 68px;
        margin-top: -68px;

        @media (min-width: $lg) {
            overflow: initial;
            margin-bottom: -68px;
        }

        @media (min-width: $xl) {
            margin-bottom: -97px;
        }
    }

    &__slide {
        width: 224px; // 200px + 24px
        position: relative;
        display: flex;
        flex-direction: column;

        @for $i from 1 through 6 {
            &:nth-child(#{$i}) .work__title,
            &:nth-child(#{$i}) .work__content {
                transition-delay: 0.1s * $i;
            }
        }

        @media (min-width: $md) {
            width: 508px; // 440px + 68px
        }

        @media (min-width: $lg) {
            width: 44.40619621342513%;
            margin-bottom: 68px;

            &:nth-child(odd) .work__day {

                &:before {
                    width: 100vw;
                    position: absolute;
                    top: calc(50% - 6px);
                    transform: translateX(-100%);
                    left: -20px;
                }

                &:after {
                    flex: 1 0 auto;
                }
            }

            &:nth-child(even) .work__day {
                &:after {
                    width: 100vw;
                    flex: none;
                }

                span {
                    flex: 1 0 auto;
                }
            }

        }

        @media (min-width: $xl) {
            width: 33.5692868844858%;
            margin-bottom: 97px;

            &:nth-child(3),
            &:nth-child(6) {
                width: 27.63438533584742%;
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(4),
            &:nth-child(5) {
                .work__card {
                    width: 82.32044198895028%;
                }
            }

            &:nth-child(1) .work__day,
            &:nth-child(2) .work__day,
            &:nth-child(4) .work__day,
            &:nth-child(5) .work__day {

                &:before {
                    width: 100vw;
                    position: absolute;
                    top: calc(50% - 6px);
                    transform: translateX(-100%);
                    left: -20px;
                }

                &:after {
                    width: auto;
                    flex: 1 0 auto;
                }

                span {
                   flex: none;
                }
            }

            &:nth-child(3) .work__day,
            &:nth-child(6) .work__day {

                &:after {
                    width: 100vw;
                    flex: none;
                }

                span {
                    flex: 1 0 auto;
                }
            }

            &:nth-child(2) .work__day,
            &:nth-child(3) .work__day,
            &:nth-child(5) .work__day,
            &:nth-child(6) .work__day {
                &:before {
                    display: none;
                }
            }
        }

        .number, .lines {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        .number {
            filter: grayscale(100%);
            opacity: 0;
            transform: scale(0.3);
            transition: $anim-title;

            svg {
                width: 130px;
                height: 130px;
                margin-top: 20px;
                margin-left: 20px;

                @media (min-width: $md) {
                    width: 184px;
                    height: auto;
                    margin-top: 0;
                    margin-left: 0;
                }

                @media (min-width: $lg) {
                    width: 240px;
                    height: auto;
                }
            }
        }

        .lines {
            transform: rotate(45deg);
            transition: $anim-card;

            svg {
                width: 170px;
                height: 170px;

                @media (min-width: $md) {
                    width: 184px;
                    height: auto;
                }

                @media (min-width: $lg) {
                    width: 240px;
                    height: auto;
                }
            }
        }

        .animation {
            .number, .lines {
                filter: grayscale(0);
                opacity: 1;
                transform: rotate(0) scale(1);
            }
        }

        @for $i from 1 through 6 {
            // Цвет для цифр по порядку
            &:nth-child(#{$i}) #num#{$i} {
                fill: #AB78FF;
            }

            // Цвет для линий по нарастающей
            &:nth-child(#{$i}) {
                @for $j from 1 through $i {
                    #line#{$j} path {
                        stroke: #AB78FF;
                    }
                }

                // Задержка анимаии для цифр и круговых линий
                &:nth-child(#{$i}).lines,
                &:nth-child(#{$i}) .number {
                    transition-delay: 0.2s * $i;
                }
            }
        }
    }

    &__card {
        width: 200px;

        @media (min-width: $md) {
            width: 440px;
        }

        @media (min-width: $lg) {
            width: 85.27131782945736%;
        }

        @media (min-width: $xl) {
            width: 100%;
        }
    }

    &__num {
        width: 170px;
        height: 170px;
        margin-left: -38px;
        margin-bottom: -21px;
        position: relative;
        margin-top: -37px;

        // Линия после цифры
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 80px;
            left: 158px;
            width: 80px;
            height: 10px;
            background: $color-back-primary;
            border-radius: 12px;
            box-shadow:
                    -20px -27px 40px rgba(35, 33, 58, 0.35),
                    20px 27px 40px rgba(4, 5, 14, 0.17),
                    inset -2px -2px 5px rgba(52, 40, 62, 0.3),
                    inset 2px 2px 5px rgba(0, 2, 12, 0.8);

            @media (min-width: $md) {
                display: none;
            }
        }

        @media (min-width: $md) {
            position: absolute;
            width: 184px;
            height: 184px;
            margin-left: -46px;
            margin-bottom: 0;
            margin-top: -52px;
        }

        @media (min-width: $lg) {
            width: 240px;
            height: 240px;
            margin-top: -55px;
            margin-left: -60px;
        }
    }

    &__day {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        margin-bottom: 8px;
        color: $color-accent;
        position: relative;

        transition: $anim-title;
        opacity: 1;
        transform: translateX(0);

        &.animation-element {
            opacity: 0;
            transform: translateX(50px);
        }

        img {
            width: 24px;
            height: 24px;
            margin-right: 8px;

            @media (min-width: $md) {
                width: 25px;
                margin-left: 8px;
                height: auto;
                margin-right: 8px;
            }

            @media (min-width: $lg) {
                margin-left: 13px;
            }

            @media (min-width: $xl){
                margin-left: 12px;
            }
        }

        span {
            display: inline-block;
            margin-right: 34px;
        }

        @media (min-width: $md) {
            align-items: center;
            font-weight: normal;
            line-height: 130%;
            letter-spacing: 0.02em;
            margin-bottom: 16px;
        }

        @media (min-width: $lg) {
            margin-bottom: 24px;
            width: calc(100% + 55px);

            &::before,
            &::after {
                content: "";
                display: block;
                height: 12px;
                border-radius: 12px;
                background: $color-back-primary;
                box-shadow:
                        -20px -27px 40px rgba(35, 33, 58, 0.35),
                        20px 27px 40px rgba(4, 5, 14, 0.17),
                        inset -2px -2px 5px rgba(52, 40, 62, 0.3),
                        inset 2px 2px 5px rgba(0, 2, 12, 0.8);
            }
        }

        @media (min-width: $xl) {
            margin-top: 10px;
            margin-bottom: 33px;
            width: calc(100% + 76px);

            &::after {
                content: "";
                display: block;
                height: 12px;
                flex: 1 0 auto;
                border-radius: 12px;
                background: $color-back-primary;
                box-shadow:
                        -20px -27px 40px rgba(35, 33, 58, 0.35),
                        20px 27px 40px rgba(4, 5, 14, 0.17),
                        inset -2px -2px 5px rgba(52, 40, 62, 0.3),
                        inset 2px 2px 5px rgba(0, 2, 12, 0.8);
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        color: $color-text-secondary;

        @include title-animation;

        @media (min-width: $md) {
            padding-left: 116px;
            margin-bottom: 24px;
            font-weight: 700;
            font-size: 24px;
            min-height: 92px;
            display: flex;
            align-items: center;
            margin-top: 0;
        }

        @media (min-width: $lg) {
            min-height: 120px;
            margin-bottom: 34px;
            padding-left: 154px;
            margin-top: 12px;
        }

        @media (min-width: $xl) {
            font-weight: 700;
            font-size: 30px;
            line-height: 140%;
            margin-bottom: 48px;
        }
    }

    &__content {
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        color: $color-text-inactive;

        @include title-link-animation;

        @media (min-width: $md) {
            font-size: 14px;
        }

        @media (min-width: $xl) {
            font-size: 14px;
        }
    }

    &__steps {
        display: none;
        position: absolute;
        bottom: 7px;
        right: 2px;
        font-weight: normal;
        font-size: 16px;
        line-height: 160%;
        color: $color-text-primary;

        opacity: 1;
        filter: blur(1);

        &.animation-element {
            opacity: 0;
            filter: blur(2);
        }

        @include title-link-animation;

        @media (min-width: $lg) {
            display: block;
        }

        @media (min-width: $xl) {
            bottom: 14px;
            right: -203px;
        }
    }
}