//- Include used template for this page
extends ../../templates/default

//- VARIABLES FOR INCLUDE THIS IN USED TEMPLATE
block variables
    - const title       = 'База знаний | Ekranika'
    - const description = 'Write description for the page here'
    - const keywords    = 'Write keywords for the page here'
    - const pageClass   = 'page-knowledge-base'

block content
    include ../../comps/tab-list/tab-list-article-list
    include ../../comps/tab-list/tab-list-news-list
    include ../../comps/link-list/link-list