// Для активного элемента добавлять класс active
.calc__calculator.calc__calculator_outside-screen.active#outsideScreen
    .container

        .calc__subtitle.animation-element Уличные экраны защищены от влаги и пыли IP65, имеют яркость 4000-6500КД для противодействия солнечному засвету

        .calc__body.animation-element
            .calc__body-controllers
                include ../custom-slider-radio/custom-slider-radio-outside-screen-type
                include ../custom-slider-radio/custom-slider-radio-calc-outside-cabin
                include ../custom-selects/suffix-select-calc-outside-screen-pixel-step
                include ../custom-range/custom-range-calc-outside-width
                include ../custom-range/custom-range-calc-outside-height

                .calc__collapse-controllers.hidden
                    .btn
                        span.text Дополнительно
                        span.icon
                            include ../../../img/icon-ts.svg
                    .body
                        include ../custom-slider-radio/custom-slider-radio-outside-screen-content-controller
                        include ../custom-slider-radio/custom-slider-radio-outside-screen-system-controll
                        include ../custom-checkbox/custom-checkbox-calc-outside-screen-brightness-sensor
                        include ../custom-checkbox/custom-checkbox-calc-outside-screen-electrical-project
                        include ../custom-checkbox/custom-checkbox-calc-outside-screen-switchboard
                        include ../custom-checkbox/custom-checkbox-calc-outside-screen-steel-construction-project
                        include ../custom-checkbox/custom-checkbox-calc-outside-screen-additional-spare
                        include ../custom-checkbox/custom-checkbox-calc-outside-screen-extended-warranty
                        include ../custom-selects/suffix-select-calc-ouside-screen-extended-warranty
                        include ../custom-checkbox/custom-checkbox-calc-outside-screen-advanced-service
                        include ../custom-selects/suffix-select-calc-ouside-screen-advanced-service

                button.btn.btn_secondary.calculating Рассчитать стоимость

            .calc__body-picture
                .calc__body-image
                    .calc__body-image-body
                        img(src="/img/calc-location-outside.png" alt="")

                    form.calc__results.calc-results-form(action="/calc-results.html" method="POST")
                        input.calc-results-input(type="hidden" name="calc-results" value="")
                        .calc__results-sum
                            .txt Итого:
                            .number.calc-results-number 0 ₽
                        button.btn.btn_primary.not-focused(type="submit") Посмотреть спецификацию