// Для активного элемента добавлять класс active
.calc__calculator.calc__calculator_inside-screen.hidden#insideScreen
    .container

        .calc__subtitle.animation-element Внутренние экраны имеют защиту IP22, параметр яркости 600-800 КД для комфортного просмотра и сохранения энергии

        .calc__body.animation-element
            .calc__body-controllers
                include ../custom-slider-radio/custom-slider-radio-inside-screen-type
                include ../custom-slider-radio/custom-slider-radio-calc-inside-cabin
                include ../custom-selects/suffix-select-calc-inside-screen-pixel-step
                include ../custom-range/custom-range-calc-inside-width
                include ../custom-range/custom-range-calc-inside-height

                .calc__collapse-controllers.hidden
                    .btn
                        span.text Дополнительно
                        span.icon
                            include ../../../img/icon-ts.svg
                    .body
                        include ../custom-slider-radio/custom-slider-radio-inside-screen-content-controller
                        include ../custom-slider-radio/custom-slider-radio-inside-screen-system-controll
                        include ../custom-checkbox/custom-checkbox-calc-inside-screen-brightness-sensor
                        include ../custom-checkbox/custom-checkbox-calc-inside-screen-electrical-project
                        include ../custom-checkbox/custom-checkbox-calc-inside-screen-switchboard
                        include ../custom-checkbox/custom-checkbox-calc-inside-screen-steel-construction-project
                        include ../custom-checkbox/custom-checkbox-calc-inside-screen-additional-spare
                        include ../custom-checkbox/custom-checkbox-calc-inside-screen-extended-warranty
                        include ../custom-selects/suffix-select-calc-inside-screen-extended-warranty
                        include ../custom-checkbox/custom-checkbox-calc-inside-screen-advanced-service
                        include ../custom-selects/suffix-select-calc-inside-screen-advanced-service

                button.btn.btn_secondary.calculating Рассчитать стоимость

            .calc__body-picture
                .calc__body-image
                    .calc__body-image-body
                        img(src="/img/quiz-location-inside.png" alt="")

                    form.calc__results.calc-results-form(action="/calc-results.html" method="POST")
                        input.calc-results-input(type="hidden" name="calc-results" value="")
                        .calc__results-sum
                            .txt Итого:
                            .number.calc-results-number 0 ₽
                        button.btn.btn_primary.not-focused(type="submit") Посмотреть спецификацию