section.section.section_link-list
    .link-list
        .container
            h2.section__title.animation-element
                span.title Прошивки

        .container
            ul.link-list__container
                li.link-list__item
                    a.link-list__button.animation-element(href="#" download)
                        .link-list__icon
                            .small
                                include ../../../img/icon-download-small.svg
                            .large
                                include ../../../img/icon-download-large.svg
                        .link-list__caption NovaStar TV Series — Файлы и прошивки контроллеров серии TB
                        .link-list__date обновлено 22.09.2020

                li.link-list__item
                    a.link-list__button.animation-element(href="" download)
                        .link-list__icon
                            .small
                                include ../../../img/icon-download-small.svg
                            .large
                                include ../../../img/icon-download-large.svg
                        .link-list__caption NovaStar MCTRL Series — Файлы и прошивки для MCTRL
                        .link-list__date обновлено 22.09.2020

                li.link-list__item
                    a.link-list__button.animation-element(href="" download)
                        .link-list__icon
                            .small
                                include ../../../img/icon-download-small.svg
                            .large
                                include ../../../img/icon-download-large.svg
                        .link-list__caption NovaStar VX Series — Файлы и прошивки для видеопроцессоров серии VX
                        .link-list__date обновлено 22.09.2020

                li.link-list__item
                    a.link-list__button.animation-element(href="" download)
                        .link-list__icon
                            .small
                                include ../../../img/icon-download-small.svg
                            .large
                                include ../../../img/icon-download-large.svg
                        .link-list__caption NovaStar MRV Series — Файлы и прошивки для MRV
                        .link-list__date обновлено 22.09.2020
