section.section.section_offer
    .offer
        .container
            h2.section__title.animation-element

                span.title Мы предлагаем
                span.section__link.animation-element
                    a.revers(href="") Выбрать готовые кабинеты
                        include ../../../img/icon-title-arr.svg

        .container-endless
            .endless.offer__list.swiper-container#offerSlider
                .offer__list__wrap.swiper-wrapper

                    .offer__slide.swiper-slide
                        a.offer__card.animation-element(href="")
                            .offer__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .offer__caption Светодиодный экран
                            .offer__content Устройство для передачи статической и динамической информации высокой яркости и насыщенностим

                    .offer__slide.swiper-slide
                        a.offer__card.animation-element(href="")
                            .offer__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .offer__caption Бегущая строка
                            .offer__content Один из самых популярных и доступных видов наружной рекламы

                    .offer__slide.swiper-slide
                        a.offer__card.animation-element(href="")
                            .offer__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .offer__caption Электронное табло
                            .offer__content Светодиодный экран с большим шагом пикселя. С его помощью  транслируют повтор моментов в спортивных соревнованиях и матчах

                    .offer__slide.swiper-slide
                        a.offer__card.animation-element(href="")
                            .offer__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .offer__caption Медиаборт
                            .offer__content широкоформатный светодиодный экран, транслирующий рекламу и информировацию для зрителей, преимущественно на

                    .offer__slide.swiper-slide
                        a.offer__card.animation-element(href="")
                            .offer__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .offer__caption Светодиодный экран
                            .offer__content Устройство для передачи статической и динамической информации высокой яркости и насыщенностим

                    .offer__slide.swiper-slide
                        a.offer__card.animation-element(href="")
                            .offer__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .offer__caption Бегущая строка
                             .offer__content Один из самых популярных и доступных видов наружной рекламы

                    .offer__slide.swiper-slide
                        a.offer__card.animation-element(href="")
                            .offer__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .offer__caption Электронное табло
                            .offer__content Светодиодный экран с большим шагом пикселя. С его помощью  транслируют повтор моментов в спортивных соревнованиях и матчах

                    .offer__slide.swiper-slide
                        a.offer__card.animation-element(href="")
                            .offer__pic
                                .image(style="background-image: url('/img/placeholder-img.jpg')")
                            .offer__caption Медиаборт
                            .offer__content широкоформатный светодиодный экран, транслирующий рекламу и информировацию для зрителей, преимущественно на

            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_next#btnOfferSliderNext
                include ../../../img/icon-slider-btn-arr.svg
            .btn.btn_icon-outlined.not-focused.slider-controller.slider-controller_prev#btnOfferSliderPrev
                include ../../../img/icon-slider-btn-arr.svg
