a.header__logo(href="/")
    img.logo-mob(src="/img/mob-logo.svg" alt="")
    img.logo-desc(src="/img/logo.svg" alt="")

.nav
    ul.nav__list
        li.nav__item.dropdown
            a(href="") Предложения
                span.drop-arr
                    include ../../../img/icon-nav-drop.svg

            .dropsection
                ul.nav__droplist
                    li.nav__dropitem.nav__dropitem_caption
                        a(href="#") Продукция на заказ
                    li.nav__dropitem
                        a(href="#") Светодиодный экран
                    li.nav__dropitem
                        a(href="#") Бегущая строка
                    li.nav__dropitem
                        // Для активного элемента надо добавлять класс .active к ссылке
                        a(href="#") Электронное табло
                    li.nav__dropitem
                        a(href="#") Медиаборт
                    li.nav__dropitem
                        a(href="#") Светодиодный  шар
                    li.nav__dropitem
                        a(href="#") Видеокуб
                    li.nav__dropitem
                        a(href="#") Рекламный медиабаннер
                    li.nav__dropitem
                        a(href="#") Медиафасад

                ul.nav__droplist
                    li.nav__dropitem.nav__dropitem_caption
                        a(href="#") Готовые решения
                    li.nav__dropitem
                        a(href="#") Экраны для ТЦ и БЦ
                    li.nav__dropitem
                        a(href="#") Экраны для спортивных мероприятий
                    li.nav__dropitem
                        a(href="#") Экраны для конференций
                    li.nav__dropitem
                        a(href="#") Рекламные уличные экраны

                ul.nav__droplist
                    li.nav__dropitem.nav__dropitem_caption
                        a(href="#") Услуги
                    li.nav__dropitem
                        a(href="#") Аренда под ключ
                    li.nav__dropitem
                        a(href="#") Монтаж светодиодных экранов
                    li.nav__dropitem
                        a(href="#") Проектирование
        li.nav__item
            a(href="") Наши работы
        li.nav__item
            a(href="") Оплата и доставка

        // Все пункты меню полсе 3-го, кроме
        // кнопок Калькулятор и Оформить заявку
        // дополнительно дублируем в выпадющее меню
        li.nav__item.nav__points.dropdown
            a.nav__points-btn(href="")
                span
            .dropsection
                ul.nav__droplist
                    li.nav__dropitem
                        a(href="#") База знаний
                    li.nav__dropitem
                        a(href="#") О нас
                    li.nav__dropitem
                        a(href="#") Контакты

        li.nav__item
            a(href="") База знаний
        li.nav__item
            a(href="") О нас
        li.nav__item
            a(href="") Контакты

        // Эти пункты меню должны присутствовать в единственном числе
        li.nav__item.nav__item_icon
            .icon.icon_calc
                img(src="/img/icon-calc-signs.svg" alt="")
            a(href="") Калькулятор
        li.nav__item.nav__item_icon
            .icon.icon_mail
                img(src="/img/icon-mail.svg" alt="")
            a(href="") Оформить заявку

.header__action-group
    .header__btns-group
        .btn.btn_ghost
            .icon-pic
                include ../../../img/icon-calc-signs.svg
            .arr Калькулятор
                include ../../../img/icon-calc-arr.svg

        .btn.btn_calltoaction Оформить заявку

    .nav-toggler#navToggler
        span.top-line
            include ../../../img/icon-burger-line.svg
        span.middle-line
            include ../../../img/icon-burger-line.svg
        span.bottom-line
            include ../../../img/icon-burger-line.svg

span#navLine