.label-controll
    .label-controll__caption Тип решения
    .label-controll__body
        .label-controll__content

            // Добавлять класс custom-select всем кастомным селектам
            .select-simple.custom-select#solutionType(data-controller-type="custom-select")
                // Если есть значение по умолчанию добавить его в .select-suffix__selected-item.selected
                .select-simple__selected-item.selected
                .select-simple__arr
                .custom-select__container
                    .custom-select__list.scroller
                        // Если есть значение по умолчанию добавить .active соответствующему значению
                        // Список значений формировать динамически из параметров элементв на стороне сервера
                        // Тип свойства фильтра data-filter-property НЕ ТРОГАТЬ! именно так оно указано в JS
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="") Сбросить
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="media") Медиафасад
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="ticker") Бегущая строка
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="scoreboard") Электронное табло
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="ledball") Светодиодный шар
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="videobanner") Видеобаннер
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="videocube") Видеокуб
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="mediabort") Медиаборт
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="storescreen") Для ТЦ и БЦ
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="sportscreen") Спорт экраны
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="confscreen") Для конференций
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="streetcreen") Уличная реклама
