.label-controll
    .label-controll__caption Тип решения
    .label-controll__body
        .label-controll__content

            // Добавлять класс custom-select всем кастомным селектам
            .select-simple.custom-select#solutionType(data-controller-type="custom-select")
                // Если есть значение по умолчанию добавить его в .select-suffix__selected-item.selected
                .select-simple__selected-item.selected
                .select-simple__arr
                .custom-select__container
                    .custom-select__list.scroller
                        // Если есть значение по умолчанию добавить .active соответствующему значению
                        // Список значений формировать динамически из параметров элементв на стороне сервера
                        // Тип свойства фильтра data-filter-property НЕ ТРОГАТЬ! именно так оно указано в JS
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="") Сбросить
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="led-screen") Светодиодный экран
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="ticker") Бегущая строка
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="electronic-scoreboard") Электронное табло
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="mediabort") Медиаборт
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="led-ball") Светодиодный шар
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="video-cube") Видеокуб
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="advertising-video-banner") Рекламный видеобаннер
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="media-facade") Медиафасад
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="shopping-business-centers") Экраны для ТЦ и БЦ
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="sports-screens") Экраны для спорт. мероприятий
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="conference-screens") Экраны для конференций
                        .custom-select__item.filter-controller(data-filter-property="solutionType" data-filter-value="outdoor-screens") Рекламные уличные экраны