.label-controll.label-controll_with-warning
    .label-controll__help.help-button(data-help-modal-id="helpModalInsideScreenPixelStep")
        include ../../../img/icon-help.svg
        include ../../comps/help-modal/help-modal-inside-screen-pixel-step

    .label-controll__caption Шаг пикселя

    .label-controll__body
        .label-controll__content

            // Добавлять класс custom-select всем кастомным селектам
            .select-suffix.custom-select.calc-pixel-step(data-controller-type="custom-select")
                // Если есть значение по умолчанию добавить его в .select-suffix__selected-item.selected вместо &nbsp;
                .select-suffix__selected-item.selected &nbsp;
                .select-suffix__arr
                .select-suffix__delimiter
                .select-suffix__units мм
                .custom-select__container
                    .custom-select__list.scroller
                        // Если есть значение по умолчанию добавить .active соответствующему значению
                        // Список значений формировать динамически из параметров элементв на стороне сервера
                        // Тип свойства фильтра data-filter-property НЕ ТРОГАТЬ! именно так оно указано в JS
                        .custom-select__item.filter-controller(data-calc-property="pixelStep" data-calc-value="1") 1
                        .custom-select__item.filter-controller(data-calc-property="pixelStep" data-calc-value="1,25") 1,25
                        .custom-select__item.filter-controller(data-calc-property="pixelStep" data-calc-value="1,37") 1,37
                        .custom-select__item.filter-controller(data-calc-property="pixelStep" data-calc-value="1,53") 1,53
                        .custom-select__item.filter-controller(data-calc-property="pixelStep" data-calc-value="1,66") 1,66
                        .custom-select__item.filter-controller(data-calc-property="pixelStep" data-calc-value="1,86") 1,86
                        .custom-select__item.filter-controller(data-calc-property="pixelStep" data-calc-value="2") 2
                        .custom-select__item.filter-controller(data-calc-property="pixelStep" data-calc-value="2,5") 2,5
                        .custom-select__item.filter-controller(data-calc-property="pixelStep" data-calc-value="3,07") 3,07
                        .custom-select__item.filter-controller(data-calc-property="pixelStep" data-calc-value="4") 4

    .label-controll__warning