.label-controll
    .label-controll__caption Срок рассрочки
    .label-controll__body
        .label-controll__content

            // Добавлять класс custom-select всем кастомным селектам
            .select-suffix.custom-select#installment
                // Если есть значение по умолчанию добавить его в .select-suffix__selected-item.selected вместо &nbsp;
                .select-suffix__selected-item.selected &nbsp;
                .select-suffix__arr
                .select-suffix__delimiter
                .select-suffix__units мес
                .custom-select__container
                    .custom-select__list.scroller
                        // Если есть значение по умолчанию добавить .active соответствующему значению
                        // Список значений формировать динамически из параметров элементв на стороне сервера
                        // Тип свойства фильтра data-filter-property НЕ ТРОГАТЬ! именно так оно указано в JS
                        .custom-select__item.installment-calc-controller(data-calc-property="installment" data-calc-value="12") 12
                        .custom-select__item.installment-calc-controller(data-calc-property="installment" data-calc-value="24") 24
                        .custom-select__item.installment-calc-controller(data-calc-property="installment" data-calc-value="36") 36
                        .custom-select__item.installment-calc-controller(data-calc-property="installment" data-calc-value="48") 48
                        .custom-select__item.installment-calc-controller(data-calc-property="installment" data-calc-value="60") 60

            .validator.validator__cross
                img.valid(src="/img/icon-validator-cross-valid.svg" alt="")
                img.invalid(src="/img/icon-validator-cross-invalid.svg" alt="")