.label-controll
    .label-controll__caption Управление контентом
    .label-controll__body
        .label-controll__content

            // Добавлять класс custom-select всем кастомным селектам
            .select-suffix.custom-select#calcOutsideScreenContentControllerOnSelect(data-controller-type="custom-select")
                // Если есть значение по умолчанию добавить его в .select-suffix__selected-item.selected вместо &nbsp;
                .select-suffix__selected-item.selected Ноутбук
                .select-suffix__arr.mr-0
                .custom-select__container
                    .custom-select__list.scroller
                        // Если есть значение по умолчанию добавить .active соответствующему значению
                        // Список значений формировать динамически из параметров элементв на стороне сервера
                        // Тип свойства фильтра data-filter-property НЕ ТРОГАТЬ! именно так оно указано в JS
                        .custom-select__item.filter-controller.active(data-filter-property="rentHeight" data-filter-value="notebook") Ноутбук
                        .custom-select__item.filter-controller(data-filter-property="rentHeight" data-filter-value="line2") Строка 2
                        .custom-select__item.filter-controller(data-filter-property="rentHeight" data-filter-value="line3") Строка 3
                        .custom-select__item.filter-controller(data-filter-property="rentHeight" data-filter-value="line4") Строка 4
                        .custom-select__item.filter-controller(data-filter-property="rentHeight" data-filter-value="line5") Строка 5