.label-controll
    .label-controll__help.help-button(data-help-modal-id="helpModalPixelStep")
        include ../../../img/icon-help.svg
        include ../../comps/help-modal/help-modal-pixel-step

    .label-controll__caption Шаг пикселя

    .label-controll__body
        .label-controll__content

            // Добавлять класс custom-select всем кастомным селектам
            .select-suffix.custom-select#pixelStep(data-controller-type="custom-select")
                // Если есть значение по умолчанию добавить его в .select-suffix__selected-item.selected вместо &nbsp;
                .select-suffix__selected-item.selected &nbsp;
                .select-suffix__arr
                .select-suffix__delimiter
                .select-suffix__units мм
                .custom-select__container
                    .custom-select__list.scroller
                        // Если есть значение по умолчанию добавить .active соответствующему значению
                        // Список значений формировать динамически из параметров элементв на стороне сервера
                        // Тип свойства фильтра data-filter-property НЕ ТРОГАТЬ! именно так оно указано в JS
                        .custom-select__item.filter-controller(data-filter-property="pixelStep" data-filter-value="") Сбросить
                        .custom-select__item.filter-controller(data-filter-property="pixelStep" data-filter-value="1,53") 1,53
                        .custom-select__item.filter-controller(data-filter-property="pixelStep" data-filter-value="2,5") 2,5
                        .custom-select__item.filter-controller(data-filter-property="pixelStep" data-filter-value="3,5") 3,5
                        .custom-select__item.filter-controller(data-filter-property="pixelStep" data-filter-value="4,5") 4,5
                        .custom-select__item.filter-controller(data-filter-property="pixelStep" data-filter-value="5,5") 5,5
                        .custom-select__item.filter-controller(data-filter-property="pixelStep" data-filter-value="6,5") 6,5
                        .custom-select__item.filter-controller(data-filter-property="pixelStep" data-filter-value="7,5") 7,5
                        .custom-select__item.filter-controller(data-filter-property="pixelStep" data-filter-value="8,5") 8,5