.label-controll.label-controll_hidden.hide
    .label-controll_hidden-content
        .label-controll__caption Выберите срок сервиса
        .label-controll__body
            .label-controll__content

                // Добавлять класс custom-select всем кастомным селектам
                .select-suffix.custom-select(data-controller-type="custom-select")
                    // Если есть значение по умолчанию добавить его в .select-suffix__selected-item.selected вместо &nbsp;
                    .select-suffix__selected-item.short.selected 1
                    .select-suffix__arr
                    .select-suffix__delimiter
                    .select-suffix__units.units-year год
                    .custom-select__container
                        .custom-select__list.scroller
                            // Если есть значение по умолчанию добавить .active соответствующему значению
                            // Список значений формировать динамически из параметров элементв на стороне сервера
                            // Тип свойства фильтра data-filter-property НЕ ТРОГАТЬ! именно так оно указано в JS
                            .custom-select__item.filter-controller.active(data-calc-property="RS" data-calc-value="1") 1
                            .custom-select__item.filter-controller(data-calc-property="RS" data-calc-value="2") 2
                            .custom-select__item.filter-controller(data-calc-property="RS" data-calc-value="3") 3
                            .custom-select__item.filter-controller(data-calc-property="RS" data-calc-value="4") 4
                            .custom-select__item.filter-controller(data-calc-property="RS" data-calc-value="5") 5