.help-modal.help-modal_default#helpModalRentDays
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption
                | Скидки за продолжитель
                span.wbr
                | ность
            .help-modal__text Чем дольше пользуетесь экраном, тем дешевле.