.help-modal.help-modal_default#helpModalInsideScreenElectricalProject
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Включает в себя схемы проводки экрана и автомата
            .help-modal__text При отсутствии электропроекта мы выведем штекер экрана для самостоятельного подключения к электросети. Стоимость рассчитывается отдельно менеджером.