.help-modal.help-modal_default#helpModalOutsideScreenAdvancedService
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Приоритетное сервисное обслуживание
            .help-modal__text Поддержка сервисного центра с приоритетной очередностью и квотой на бесплатный ремонт.
