.help-modal.help-modal_default#helpModalInsideScreenBrightnessSensor
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption
                | Автоматически меняет яркость
                br
                | в зависимости от освещенности
            .help-modal__text Обычно используется на уличных экранах для гашения яркости в ночное время или в пасмурную погоду (экономия энергии, соблюдение требований законодательства).