.help-modal.help-modal_default#helpModalTypeOfExecution
    .help-modal__dialog
        .help-modal__content
            .help-modal__close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Уличный
            .help-modal__text Уличные экраны защищены от влаги и пыли IP65, имеют яркость 4000-6500КД для противодействия солнечному засвету.
            br
            .help-modal__caption Внутренний
            .help-modal__text Внутренние экраны имеют защиту IP22, параметр яркости 600-800 КД для комфортного просмотра и сохранения энергии.