.help-modal.help-modal_default#helpModalOutsideScreenExecutionType
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Каким будет конструкция светодиодного экрана
            .help-modal__text
                | Монолитный – конструкция собирается из профилей на месте монтажа. Она дешевле, дольше по сборке и используется на шаге пикселя от 2.5мм, чтобы не было видно стыков модулей.
                br
                | Кабинетный – отдельные части металлоконструкции наполняются комплектующими по заводской разметке на производстве. Составляются в единое полотно на объекте. Быстрый монтаж, высокая точность сборки, легкое обслуживание, можно разобрать для хранения или транспортировки.