.help-modal.help-modal_default#helpModalRentSystemControl
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Управление контентом на экране
            .help-modal__text Контроллеры позволяют воспроизводить картинку с компьютера напрямую (дублируют экран), а видеопроцессоры делают автомасштабирование, принимают и транслируют множество сигналов, позволяют работать со слоями (картинка в картинке).