.help-modal.help-modal_default#helpModalRentPixelStep
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Внутренний экран
            .help-modal__text Внутренний экран 3.9 мм позволяет увидеть четкую картинку с расстояния не менее 3 метров.
            br
            .help-modal__caption Уличный экран
            .help-modal__text Уличный экран 4.8 мм рекомендуется смотреть с расстояния не менее 5 метров.