.help-modal.help-modal_default#helpModalPixelStep
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Заголовок для стандартного блока подсказки
            .help-modal__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur culpa deserunt ducimus eius est facere illum ipsum minus mollitia officia possimus quam quo quos repellendus, soluta suscipit, tempora voluptatem?