.help-modal.help-modal_default#helpModalRentExecution
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Где будет установлен экран
            .help-modal__text В зависимости от этого параметра меняются шаг пикселя, яркость и степень защиты оборудования.