.help-modal.help-modal_default#helpModalRentDelivery
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Доставка считается отдельно
            .help-modal__text Скажите менеджеру адрес и он сделает необходимые расчёты.