.help-modal#helpModalTypicalSolutions
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__section
                .help-modal__picture
                    img.vertical(src="/img/typical-solutions-help-vertical.png" alt="")
                .help-modal__caption Вертикальный модуль
                .help-modal__text Предназначен лля сборки вертикальных медиафасадов

            .help-modal__section
                .help-modal__picture
                    img.horizontal(src="/img/typical-solutions-help-horizontal.png" alt="")
                .help-modal__caption Горизонтальный модуль
                .help-modal__text Отличается от вертикального расположением центральной оси светодиодов
