.help-modal.help-modal_default#helpModalInsideScreenContentController
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Способ передачи изображения
            .help-modal__text Выберите, что лучше подходит для задачи - управление с компьютера, подключенному к экрану напрямую (чаще используется для презентаций) или при помощи удаленного соединения (чаще используется для рекламных экранов и зацикленного контента).