.help-modal.help-modal_default#helpModalRentTechnician
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Нужен человек для работы с экраном?
            .help-modal__text Добавим к расчёту специалиста, который будет запускать видеоряд на мероприятии.