.help-modal.help-modal_default#helpModalInsideScreenPixelStep
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Расстояние между пикселями
            .help-modal__text
                | От шага пикселя зависит минимальное комфортное расстояние для просмотра. Считается по формуле:
                br
                | Расстояние просмотра в метрах = шаг пикселя (р) х 1000.
                br
                | Например, экран с шагом 2.5мм рекомендуется смотреть с расстояния не менее 2.5 метров, а экран с шагом 8мм – более чем с 8 метров. С этого расстояния не будет видно зерно пикселя, а изображение будет восприниматься цельной картинкой.