.help-modal.help-modal_default#helpModalOutsideScreenAdditionalSpare
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Добавим комплект запчастей
            .help-modal__text Он часто нужен для обслуживания и сокращает время простоя экрана.