.help-modal.help-modal_default#helpModalPixelConstruction
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Заголовок для стандартного блока подсказки
            .help-modal__text Текст для стандартного блока подсказки. Может быть произвольной длинны.