.help-modal.help-modal_default#helpModalOutsideScreenExtendedWarrantly
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Дополнительная гарантия
            .help-modal__text
                | Расширенная гарантия действует на все узлы экрана.
                br
                | Без неё стандартная гарантия на изделие - 1 год на все комплектующие, кроме блоков питания.
