.help-modal.help-modal_default#helpModalOutsideScreenSwitchboard
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Установим отдельный щиток
            .help-modal__text Включим в счёт электрощитовую, если её нет на объекте.