.help-modal.help-modal_default#helpModalInsideScreenSystemControll
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Управления контентом на экране
            .help-modal__text Контроллеры позволяют просто воспроизводить картинку с источника, а видеопроцессоры делают автомасштабирование, принимают и транслируют множество сигналов, позволяют работать со слоями (картинка в картинке). Мы закладываем в цену стандартные конфигурации оборудования, но если проект особенный - цена на управление изменится, с этим поможет менеджер.