.help-modal.help-modal_default#helpModalRentConstruction
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Как мы установим экран
            .help-modal__text Может стоять на ногах (мы добавим их стоимость к расчёту) или быть подвешан в воздухе - для этого нужна специальная металлоконструкция. Если её нет на объекте - можно арендовать за отдельную плату.