.help-modal.help-modal_default#helpModalOutsideScreenSteelConstructionProject
    .help-modal__dialog
        .help-modal__content
            .help-modal__close#close
                include ../../../img/icon-help-close.svg
            .help-modal__caption Проект экрана с учетом особенностей места монтажа
            .help-modal__text Создается, если экран изогнут или есть особенности в монтаже (например, не ровная поверхность крепления). Стоимость рассчитывается отдельно менеджером.