@import "../../../scss/variables";

.callback {

    .container,
    .container-endless {
        @media (min-width: $md) {
            padding-left: 34px;
        }

        @media (min-width: $lg) {
            padding-left: 0;
        }
    }

    .section__title {
        @include title-animation;
    }

    .section__link {
        @include title-link-animation;

        @media (min-width: $md) {
            display: inline-block;
        }

        @media (min-width: $lg) {
        }

        @media (min-width: $xl) {
        }

        @media (min-width: $xxl) {
        }
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0.02em;
        color: $color-text-secondary;
        margin-top: -13px;

        transition-delay: 0.5s !important;
        @include title-animation;

        @media (min-width: $md) {
            font-weight: 700;
            font-size: 30px;
            line-height: 140%;
            margin-top: 96px;
            padding-right: 68px;
        }

        @media (min-width: $lg) {
            padding-right: 400px;
        }

        @media (min-width: $xl) {
            font-size: 30px;
            line-height: 140%;
            margin-top: -38px;
            max-width: 570px;
            padding-right: 0;
        }
    }

    &__subtitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 160%;
        color: $color-text-inactive;
        margin-top: 12px;
        width: 200px;

        transition-delay: 0.7s !important;
        @include title-link-animation;

        @media (min-width: $md) {
            width: auto;
            font-size: 14px;
            margin-top: 16px;
        }

        @media (min-width: $xl) {
            font-size: 14px;
            margin-top: 24px;
        }
    }

    &__form {
        margin-top: 34px;
        display: flex;
        flex-direction: column;
        padding-right: 16px;

        @include card-animation;

        @media (min-width: $md) {
            margin-top: 68px;
        }

        @media (min-width: $xl) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .controller {
        input {
            width: 224px;
        }
    }

    .controller__input {
        @media (min-width: $md) {
            height: 90px;
            margin-bottom: 36px;

            input {
                width: 370px;
                height: 90px;
                font-size: 30px;
                font-weight: 400;
                line-height: 42px;
                letter-spacing: 0.02em;
                color: $color-text-secondary;
                padding: 24px 24px 24px 48px;
            }

            .icon {
                display: none;
            }
        }
    }

    &__data {
        @media (min-width: $xl) {
            width: 558px;
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: $color-text-inactive;

        @media (min-width: $md) {
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-top: 12px;
        }

        @media (min-width: $xl) {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 0;
            z-index: 1;
        }

        .btn {
            margin-top: 34px;
            order: 2;

            @media (min-width: $md) {
                margin-top: 0;
                order: 1;
            }

            @media (min-width: $xl) {
                margin-top: 20px;
            }
        }

        .privacy {
            display: inline-block;
            font-weight: normal;
            font-size: 12px;
            line-height: 160%;
            color: $color-text-inactive;
            margin-top: 10px;
            order: 1;

            @media (min-width: $md) {
                order: 2;
                margin-left: 24px;
                margin-top: 0;
                max-width: 376px;
                font-size: 14px;
            }

            @media (min-width: $xl) {
                margin-left: 0;
                margin-top: 34px;
            }
        }
    }

    .send-mail {
        font-weight: normal;
        font-size: 12px;
        line-height: 160%;
        color: $color-text-inactive;
        margin-top: 16px;

        @media (min-width: $md) {
            margin-top: 34px;
            font-size: 14px;
        }

        @media (min-width: $xl) {
            display: block;
            width: 100%;
            margin-top: -23px;
        }
    }

    &__background-pic {
        position: absolute;
        display: none;
        transition-delay: 1.7s !important;

        @include title-link-animation;

        @media (min-width: $lg) {
            display: block;
            top: 100px;
            left: calc(50% + 220px);
        }

        @media (min-width: $xl) {
            top: -64px;
            left: calc(50% + 360px);
        }

        img {
            width: 431px;
            max-width: none;
            height: auto;

            @media (min-width: $xl) {
                width: 557px;
            }
        }
    }
}