.modal#calbackModal(data-source-reset="#callbackForm")
    .modal__dialog
        .modal__content
            .modal__header
                .modal__title Заявка отправлена
                .modal__subtitle Перезвоним вам в ближайшее время
            .modal__body
                img.modal-img(src="/img/icon-modal-phone.svg" alt="")
            .modal__footer
                button.btn.btn_primary.not-focused.modal__close Закрыть окно
