section.section.section_payment-ways
    .payment-ways

        .container
            h2.section__title.animation-element
                span.title Оплата
                span.section__link.animation-element
                    a.revers(href="") Подробнее о способах оплаты и доставки
                    spna.icon
                        include ../../../img/icon-title-arr.svg

            .payment-ways__methods
                .payment-ways__methods-item.animation-element
                    span.icon.icon_card
                        include ../../../img/icon-card.svg
                    span.text Банковской картой

                .payment-ways__methods-item.animation-element
                    span.icon
                        include ../../../img/icon-requisites.svg
                    span.text По реквизитам

                .payment-ways__methods-item.animation-element
                    span.icon
                        include ../../../img/icon-cash.svg
                    span.text Наличными


            .payment-ways__mark.animation-element
                | Предоставляем всю документацию, необходимую для бухгалтерского
                | отчета Плательщикам НДС просьба заблаговременно подготовить копию
                | свидетельства налогоплательщика


            .payment-ways__requisites
                a.payment-ways__requisites-title.animation-element(href="" download)
                    | Реквизиты для оплаты
                    span.icon
                        include ../../../img/icon-down.svg

                ul.payment-ways__requisites__list.animation-element

                    li.payment-ways__requisites__item
                        span.caption Полное наименование
                        span.content Общество с ограниченной ответственностью «ЭКРАНИКА»

                    li.payment-ways__requisites__item
                        span.caption Сокращенное наименование
                        span.content ООО «‎ЭКРАНИКА»

                    li.payment-ways__requisites__item
                        span.caption Юридический адрес
                        span.content 123100, г. Москва, наб. Пресненская, д.10 строение 2 этаж 11, пом. 97, ком. 2, оф. 100

                    li.payment-ways__requisites__item
                        span.caption Почтовый адрес
                        span.content 123100, г. Москва, наб. Пресненская, д.10 строение 2 этаж 11, пом. 97, ком. 2, оф. 100

                    li.payment-ways__requisites__item
                        span.caption ОГРН
                        span.content 1207700143474

                    li.payment-ways__requisites__item
                        span.caption ИНН
                        span.content 9703011796

                    li.payment-ways__requisites__item
                        span.caption КПП
                        span.content 770301001

                    li.payment-ways__requisites__item
                        span.caption Телефон/факс
                        span.content +7 499 938 87 79

                    li.payment-ways__requisites__item
                        span.caption Р/счет
                        span.content 40702810302720004173

                    li.payment-ways__requisites__item
                        span.caption К/счет
                        span.content 30101810200000000593

                    li.payment-ways__requisites__item
                        span.caption БИК
                        span.content 04452559

                    li.payment-ways__requisites__item
                        span.caption Банк
                        span.content АО «АЛЬФА-БАНК»