section.section.section_work-with
    .work-with

        .container.work-with__caption-container
            h2.section__title.animation-element
                span.title С кем работаем
                span.section__link.animation-element
                    a.revers(href="") Посмотреть сертификаты
                        include ../../../img/icon-title-arr.svg

        .container-endless
            .endless

                .work-with__list.swiper-container#workWithSlider
                    .work-with__list-wrap.swiper-wrapper

                        .work-with__slide.swiper-slide
                            .work-with__card.animation-element
                                .work-with__content
                                    .work-with__caption Xiamen Qiangli Opto-Electronic Technology Co.Ltd.
                                    .work-with__description
                                        | Крупнейший мировой производитель модулей  для LED экранов.
                                        | Компания работает с 2004 г. и является признанным лидером
                                        | отрасли. В составе её производственной базы  в г. Сямынь 15
                                        | автоматических линий полного цикла и 22 линии готовой
                                        | продукции, более 2 тыс. сотрудников. С 2017 г.
                                        | продукция компании производится только со светодиодами SMD
                                ul
                                    li.work-with__item
                                        | Угол обзора 140 на 140
                                        br
                                        | вместо традиционных
                                        span 110 x 60
                                    li.work-with__item
                                        | 10% экономии
                                        br
                                        | энергопотребления
                                    li.work-with__item
                                        | Модули на 30%
                                        br
                                        | легче и тоньше

                        .work-with__slide.swiper-slide
                            .work-with__card.animation-element
                                .work-with__content
                                    .work-with__caption Xi'an NovaStar Tech Co.Ltd.
                                    .work-with__description
                                        | Один из крупнейших мировых производителей оборудования
                                        | для управления LED экранами. В линейке продукции компании
                                        | представлен широкий выбор синхронных и асинхронных контроллеров,
                                        | видеопроцессоров, серверов, отличающихся высокой
                                        | функциональностью и надежностью.
                                ul
                                    li.work-with__item
                                        | Частота обновления 3 840 Гц
                                        br
                                        | даёт качественную картинку
                                    li.work-with__item
                                        | Поддержка
                                        br
                                        | разрешения до 8К
                                    li.work-with__item
                                        | Резервирование: автозапуск
                                        br
                                        | запасных модулей без бликов

